<div class="px-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <span class="title">Cadastro de Clientes</span>

        <div class="action-buttons">
            <button class="btn btn-upload">UPLOAD DE ARQUIVO</button>
            <button class="btn btn-download">DOWNLOAD MODELO EM EXCEL <em class="far fa-file-excel"></em></button>
        </div>
    </div>

    <p>Informações Principais</p>
    <form [formGroup]="formCadastroClientes">
        <div class="form-row align-items-end">
            <div class="form-group col-md-10">
                <label for="customerType" class="d-block">Escolha a opção desejada:</label>
                <div class="d-inline-flex">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="juridic"  class="custom-control-input"
                            formControlName="tipoPessoa" value="isJuridic" checked>
                        <label class="custom-control-label" for="juridic">Pessoa Jurídica</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="fisic" n class="custom-control-input"
                        formControlName="tipoPessoa" value="isFisic">
                        <label class="custom-control-label" for="fisic">Pessoa Física</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="export"  class="custom-control-input"
                        formControlName="tipoPessoa" value="isExport">
                        <label class="custom-control-label" for="export">Cliente Exportação</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="customerStatus" class="d-block">Status</label>
                <div class="d-inline-flex">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="isActive" formControlName="status"  [value]="true" class="custom-control-input" checked>
                        <label class="custom-control-label" for="isActive">Ativo</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="isNotActive" formControlName="status" [value]="false"  class="custom-control-input">
                        <label class="custom-control-label" for="isNotActive">Inativo</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3" *ngIf="formCadastroClientes.controls['tipoPessoa'].value === 'isJuridic'">
                <label for="cnpj">CNPJ</label>
                <input formControlName="cnpj" id="cnpj" class="form-control" type="text">
            </div>
            <div class="form-group col-md-6" *ngIf="formCadastroClientes.controls['tipoPessoa'].value !== 'isJuridic'">
                <label for="name">Nome</label>
                <input formControlName="nome" id="name" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3" *ngIf="formCadastroClientes.controls['tipoPessoa'].value === 'isFisic'">
                <label for="cpf">CPF</label>
                <input formControlName="cpf"  id="cpf" class="form-control" type="text">
            </div>
            <div class="form-group col-md-6" *ngIf="formCadastroClientes.controls['tipoPessoa'].value === 'isJuridic'">
                <label for="companyName">Razão Social</label>
                <input formControlName="razaoSocial" id="companyName" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3" *ngIf="formCadastroClientes.controls['tipoPessoa'].value === 'isExport'">
                <label for="country">País</label>
                <select formControlName="pais" id="country" class="custom-select">
                    <option value="Argentina">Argentina</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="area">Área</label>
                <select formControlName="area" id="area" class="custom-select">
                    <option value="Nacional">Nacional</option>
                </select>
            </div>
            <div class="form-group col-md-4" *ngIf="formCadastroClientes.controls['tipoPessoa'].value !== 'isExport'">
                <label for="cep">CEP</label>
                <input formControlName="cep" id="cep" class="form-control" type="text">
            </div>
            <div class="form-group col-md-4"*ngIf="formCadastroClientes.controls['tipoPessoa'].value === 'isExport'">
                <label for="postalCode">Código Postal</label>
                <input formControlName="codPostal" id="postalCode" class="form-control" type="text">
            </div>
            <div class="form-group col-md-4">
                <label for="address">Logradouro</label>
                <input formControlName="logradouro" id="address" class="form-control" type="text">
            </div>
            <div class="form-group col-md-2">
                <label for="number">Número</label>
                <input formControlName="numero" id="number" class="form-control" type="text">
            </div>
            <div class="form-group col-md-2">
                <label for="complement">Complemento</label>
                <input formControlName="complemento" id="complement" class="form-control" type="text">
            </div>
            <div class="form-group col-md-5">
                <label for="neighborhood">Bairro</label>
                <input formControlName="bairro" id="neighborhood" class="form-control" type="text">
            </div>
            <div class="form-group col-md-2">
                <label for="state">UF</label>
                <select formControlName="uf" id="state" class="custom-select">
                    <option value="SP">SP</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <label for="city">Cidade</label>
                <select formControlName="cidade" id="city" class="custom-select">
                    <option value="Graça">Graça</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="email">E-mail</label>
                <input  formControlName="email" id="email" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="alternativeEmail">E-mail Alternativo</label>
                <input formControlName="AltEmail" id="alternativeEmail" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="fixedTel">Telefone Fixo</label>
                <input formControlName="Telefone" id="fixedTel" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="mobileTel">Telefone Celular</label>
                <input formControlName="Celular" id="mobileTel" class="form-control" type="text">
            </div>
        </div>

        <p class="mt-4 mb-2">Vincular ao Grupo de Cliente</p>

        <div class="form-row align-items-end">
            <div class="form-group col-md-3">
                <label for="groupArea">Área</label>
                <select formControlName="grpClienteArea" id="groupArea" class="custom-select">
                    <option value="Nacional">Nacional</option>
                </select>
            </div>

            <div class="form-group col-md-9">
                <label for="groupArea">Descrição</label>
                <input formControlName="DescGrpCliente" id="groupArea" class="form-control" type="text">
            </div>
        </div>

        <div class="text-center my-5">
            <button (click)="SaveCliente()" class="btn btn-save">GRAVAR DADOS</button>
        </div>
    </form>
</div>