<div class="modal-header">
    <div class="close" (click)="activeModal.dismiss()">
        <small>fechar</small>
        <small aria-hidden="true">&times;</small>
    </div>
</div>

<div class="modal-body">
    <span class="title">Adicionar Filtro de pesquisa</span>
    <small class="sub-title">Crie seu próprios filtros de pesquisa para agilizar suas rotinas diárias.</small>

    <div class="filter-name">
        <div class="form-group">
            <label for="filter-name">Crie um nome para o seu filtro</label>
            <input type="text" id="filter-name" class="form-control form-control-sm">
        </div>

        <div class="text-center">
            <button class="btn save-filter">salvar</button>
        </div>
    </div>

    <hr>

    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">

        <li [ngbNavItem]="1">
            <a ngbNavLink>Parâmetros do Filtro</a>
            <ng-template ngbNavContent>
                <p class="filter-label">Representante - Geral:</p>

                <div class="form-row">
                    <div class="form-group col-5">
                        <label for="param">Parâmetro</label>
                        <select id="param" class="form-control form-control-sm">
                            <option>...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="content">Conteúdo</label>
                        <input type="text" id="content" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-1 d-flex align-items-end">
                        <button class="btn btn-add">
                            <em class="fas fa-plus-circle"></em>
                        </button>
                    </div>
                </div>

                <div class="form-row add-param">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                            <label class="custom-control-label" for="customCheck1">Magazine Luiza</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                            <label class="custom-control-label" for="customCheck2">Casas Bahia</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck3" checked>
                            <label class="custom-control-label" for="customCheck3">Elgin Industrial Amazonia
                                LTDA</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                            <label class="custom-control-label" for="customCheck4">Elgin SA 02</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck5" checked>
                            <label class="custom-control-label" for="customCheck5">suprimentos</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck6" checked>
                            <label class="custom-control-label" for="customCheck6">em carteira</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>

        <li [ngbNavItem]="2">
            <a ngbNavLink>Parâmetros de Colunas</a>
            <ng-template ngbNavContent>
                <p class="filter-label">Representante - Geral:</p>

                <div class="form-row">
                    <div class="form-group col-8">
                        <label for="param">Coluna</label>
                        <select id="param" class="form-control form-control-sm">
                            <option>...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-4 add-colum">
                        <div>
                            <button class="btn btn-add-colum">
                                <em class="fas fa-plus-circle"></em>
                            </button>
                            <span>Adicionar</span>
                        </div>
                    </div>
                </div>

                <span class="text-b">Escolha os parâmetros das colunas</span>
                <span class="text-b">(opções de dados que serão inclusos na tabela)</span>

                <div class="form-row add-param">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                            <label class="custom-control-label" for="customCheck1">Clientes</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                            <label class="custom-control-label" for="customCheck2">Status</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck3" checked>
                            <label class="custom-control-label" for="customCheck3">Nota Fiscal</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                            <label class="custom-control-label" for="customCheck4">Representante</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck5" checked>
                            <label class="custom-control-label" for="customCheck5">Data</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck6" checked>
                            <label class="custom-control-label" for="customCheck6">Suprimentos</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck7" checked>
                            <label class="custom-control-label" for="customCheck7">Total</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck8" checked>
                            <label class="custom-control-label" for="customCheck8">Área</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck9" checked>
                            <label class="custom-control-label" for="customCheck9">SAP</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck10" checked>
                            <label class="custom-control-label" for="customCheck10">UP</label>
                            <span class="remove-param">
                                <em class="fas fa-times"></em>
                                <span>remover</span>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-close" (click)="activeModal.close()">buscar</button>
</div>