<section>
    <div class="navigation">
        <div class="title">
            <em class="fas fa-user"></em>
            <span>Informações de perfil {{ nomeUser | titlecase }} </span>
        </div>
    </div>
</section>

<section>

    <div class="types-button">
        <button class="btn btn-item" *ngFor="let item of typeItems; let i = index"
            [ngClass]="{active: selectedItem == i}" (click)="navigate(i)">
            <em [class]=" item.icon"></em>
            <span>{{item.title}}</span>
        </button>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLink="./">Perfil</li>
            <li class="breadcrumb-item" aria-current="page" *ngIf="hasRoute('infoProfile')">Informações do Perfil </li>
            <li class="breadcrumb-item" aria-current="page" *ngIf="hasRoute('AlterPass')">Alterar Senha </li>
            
        </ol>
    </nav>
</section>

<section>
    <router-outlet></router-outlet>
</section>