<div class="modal-header">
    <div class="close" (click)="activeModal.dismiss()">
        <small>fechar</small>
        <small aria-hidden="true">&times;</small>
    </div>
</div>

<div class="modal-body">
    <p>Edição de Comissão</p>

    <form>
        <div class="form-row align-items-end">
            <div class="form-group col-md-3">
                <label for="comissionDate">Data Base de Comissão</label>
                <input id="comissionDate" class="form-control" type="text">
            </div>
            <div class="form-group col-md-4">
                <label for="area">Área</label>
                <select id="area" class="custom-select">
                    <option value="Elgin">Elgin</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <label for="Representative">Representante</label>
                <input id="Representative" class="form-control" type="text">
            </div>
            <div class="form-group col-md-6">
                <label for="line">Linha</label>
                <select id="line" class="custom-select">
                    <option value="REFRIGERAÇÃO(17REFRI)">REFRIGERAÇÃO(17REFRI)</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="subLine">Linha</label>
                <select id="subLine" class="custom-select">
                    <option value="BOMBA REMOÇÃO ITAJAÍ(105REF071)">BOMBA REMOÇÃO ITAJAÍ(105REF071)</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="country">País</label>
                <select id="country" class="custom-select">
                    <option value="Todos">Todos</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="state">Estado</label>
                <select id="state" class="custom-select">
                    <option value="Todos">Todos</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="city">Cidade</label>
                <select id="city" class="custom-select">
                    <option value="Todos">Todos</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="products">Produtos</label>
                <select id="products" class="custom-select">
                    <option value="Todos">Todos</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="comissionValue">Comissão</label>
                <input id="comissionValue" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="vigencyInit">Início da Vigência</label>
                <div class="input-group">
                    <input class="form-control" id="vigencyInit" name="d1" #c1="ngModel" [(ngModel)]="initDate"
                        ngbDatepicker #d1="ngbDatepicker" (input)="regex($event)" maxlength="10">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                            <em class="fas fa-calendar-alt"></em>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="vigencyEnd">Término da Vigência</label>
                <div class="input-group">
                    <input class="form-control" id="vigencyEnd" name="d2" #c1="ngModel" [(ngModel)]="endDate"
                        ngbDatepicker #d2="ngbDatepicker" (input)="regex($event)" maxlength="10">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                            <em class="fas fa-calendar-alt"></em>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center my-5">
            <button class="btn btn-save">Concluir</button>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-custom" (click)="activeModal.close('Close click')">Fechar</button>
</div>