<div class="side-menu hover" id="hoverMenu">
    <div class="side-menu-superior">
        <img src="../../../assets/images/marcaelgin1.png" alt="marca elgin up" class="elginUp-brand" hidden>
        <img src="../../../assets/images/logo-up1.png" alt="elgin up logo" class="elginUp-icon">
    </div>

    <div class="user">
        <em  (click)="this.router.navigate(['perfil',  dataUser.Login ])" style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Ver Perfil" class="fa fa-user"></em>

        <div class="user-opt">
            <span data-toggle="tooltip" (click)="this.router.navigate(['perfil', dataUser.Login])" data-placement="top" title="Ver Perfil" style="cursor: pointer;">{{ dataUser.Login }}</span>
            <span>Representante Elgin</span>
            <a style="cursor: pointer;" (click)="deslogar()">sair</a>
        </div>
    </div>

    <ul>
        <li *ngFor="let menuItem of retornoMenu.result.data | filter:menuItem"  [ngClass]="{ active: menuItem.ordem == getSelectedItem() }"
            (click)="navigateTo(menuItem.id)">

            <em [class]="menuItem.icone"></em>
            <span>{{menuItem.descricao }}</span>
        </li>
    </ul>
</div>

<div class="responsive-navbar" hidden>
    <div class="side-menu-superior">
        <img src="../../../assets/images/logo-up1.png" alt="elgin up logo" class="elginUp-icon">
        <img src="../../../assets/images/marcaelgin1.png" alt="marca elgin up" class="elginUp-brand">
    </div>

    <em class="fas fa-bars" (click)="toggleMenu()"></em>
</div>

<div *ngIf="toggle" class="responsive-menu">
    <div class="backdrop" (click)="toggleMenu()"></div>
    <div class="menu-toggle">

        <button class="btn btn-close">
            <em class="fas fa-times" (click)="toggleMenu()"></em>
        </button>

        <ul>
            <li *ngFor="let menuItem of retornoMenu.result.data | filter:menuItem" [ngClass]="{ active: menuItem.ordem == selectedItem }"
                (click)="navigateTo(menuItem.ordem); toggleMenu()">

                <em [class]="menuItem.icone"></em>
                <span>{{ menuItem.descricao }}</span>
            </li>
        </ul>
    </div>
</div>