:root {
  --primary: #0063AF !important;
  --blue: #0091FF !important;
  --link: #0074CC !important;
  --link-active: #4DB2FF !important;
  --title: #265980 !important;
  --text: #333333 !important;
  --muted-text: #9B9A9A !important;
  --water-green: #66E8B1 !important;
  --light-green: #AFFF7D !important;
  --khaki: #E8D666 !important;
  --light-orange: #FFBC70 !important;
  --danger: #FF0000 !important;
  --success: #4DBF69 !important;
  --warning: #FFBC70 !important;
}
