<section>
    <div
        class="position-relative d-flex flex-wrap align-items-center justify-content-md-between justify-content-center">
        <div class="client flex-md-grow-0 flex-grow-1 mb-3 mb-md-0">
            <span>ANDRE DA SILVA 05133195907</span>
            <span>CNPJ: 34.463.428/0001-92</span>
            <span>IE: ISENTO </span>
            <span> Tel: (48) 3205-9233</span>
        </div>

        <span class="line d-md-block d-none"></span>

        <div class="representative active flex-md-grow-0 flex-grow-1">
            <span>Representante Maria</span>
            <span>Área: Automação</span>
            <span>Tipo Pedido: ZVMI</span>
        </div>
    </div>
</section>

<section *ngIf="!sendOrder; else finishOrder">
    <p class="my-3">Linha de Produtos</p>

    <div class="product-types">
        <span *ngFor="let item of elginProducts; let i = index" [ngClass]="{active: selectedItem == i}"
            (click)="navigate(i, item)">{{item.linha}}</span>
    </div>

    <div *ngIf="selectedItem == 0">
        <div class="elgin-products-container">
            <div *ngFor="let elginProduct of elginProducts[0]?.produtosTipo; let i = index"
                [ngClass]="{active: selectedProduct == i}" (click)=" selectProduct(i, elginProduct)"
                class="elgin-products">
                <img [src]="elginProduct?.thumbnail" alt="elginProduct" class="item-thumbnail">
                <span>{{ elginProduct?.tipo }}</span>
            </div>
        </div>

        <div class="products" *ngIf="productSelected">
            <div class="segments">
                <span>{{ productLine.linha }}</span>
                <span>{{ productType.tipo }}</span>
            </div>

            <div class="nav-controlers d-flex flex-wrap align-items-end mt-3">
                <div class="col-auto">
                    <em class="fas fa-bars" [ngClass]="{active: isMonoBlock}" (click)="monoBlock()"></em>
                </div>
                <div class="col-auto">
                    <em class="fas fa-th" [ngClass]="{active: isMultiBlock}" (click)="multiBlock()"></em>
                </div>
                <div class="col-12 col-md-auto my-3 my-md-0">
                    <select id="inputGroupSelect01" class="custom-select">
                        <option>visualizar 10 resultados por página</option>
                        <option>visualizar 20 resultados por página</option>
                    </select>
                </div>
            </div>

            <div class="products-table d-flex flex-wrap align-items-end justify-content-start 
                justify-content-md-between">
                <span class="products-qtd order-">186 produtos encontrados</span>

                <div class="cart-container my-3 my-md-0">
                    <em class="fas fa-shopping-cart"></em>
                    <span class="cart-itens-qtd">1 item</span>
                    <span class="badge badge-pill badge-custom" (click)="cartToggle = !cartToggle">ver pedidos</span>

                    <div class="hidden-cart" [ngClass]="{'show-cart' : cartToggle}" ngDraggable>
                        <div class="head">
                            <span>Carrinho</span>
                            <div class="close" (click)="cartToggle = !cartToggle">
                                <small>fechar</small>
                                <small aria-hidden="true">&times;</small>
                            </div>
                        </div>
                        <div class="body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="thumb">
                                        <img src="../../../../../../../assets/artefacts/splithighwall.png" alt="produto"
                                            class="img-thumbnail">
                                        <div class="desc">
                                            <span>45HTQE18B2NA</span>
                                            <span>UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH</span>
                                        </div>
                                    </div>
                                    <span class="qtd">22</span>
                                </li>
                            </ul>
                        </div>

                        <hr>

                        <div class="foot">
                            <button class="btn btn-custom" (click)="finishCart()">Próximo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive mt-3" *ngIf="isMonoBlock">
                <table class="table table-bordered table-hover table-sm" aria-describedby="orders table">
                    <thead class="monoblock">
                        <tr>
                            <th scope="col" class="text-center">Imagem</th>
                            <th scope="col">Código<em class="fas fa-search"></em></th>
                            <th scope="col">Descrição<em class="fas fa-search"></em></th>
                            <th scope="col">Estoque<em class="fas fa-search"></em></th>
                            <th scope="col" class="text-center">Qtd.</th>
                            <th scope="col" class="text-center">Prazo</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of elginProducts[3]?.produtosTipo?.produtos; let type = index"
                            (click)="openComparativeModal(item)">
                            <td class="text-center">
                                <img [src]="item?.imagem" alt="representação do item" class="img-thumbnail">
                            </td>
                            <td>{{ item?.cod }}</td>
                            <td>{{ item?.desc }}</td>
                            <td>{{ item?.estoque }}</td>
                            <td (click)="stopPropagation($event)">
                                <div class="amount">
                                    <button class="btn btn-decrease" (click)="decreaseAmount(amountPanel)">
                                        <em class="fas fa-minus-circle"></em>
                                    </button>

                                    <input type="number" [id]="'amount'+ type" [value]="amount" class="panel"
                                        #amountPanel>

                                    <button class="btn btn-increase" (click)="increaseAmount(amountPanel)">
                                        <em class="fas fa-plus-circle"></em>
                                    </button>

                                    <a href="javascript:void(0)">adicionar</a>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="d-block text-center">
                                    <em *ngIf="item.prazo == 'pronta entrega'" class="fas fa-truck fa-2x success"></em>
                                    <em *ngIf="item.prazo == 'em análise'" class="fas fa-industry fa-2x warning"></em>
                                </span>
                                <span class="d-block text-center">{{ item?.prazo }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="isMultiBlock">
                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-hover table-sm m-0" aria-describedby="orders table">
                        <thead class="multiblock">
                            <tr>
                                <th scope="col">Código<em class="fas fa-search"></em></th>
                                <th scope="col">Descrição<em class="fas fa-search"></em></th>
                                <th scope="col">Estoque<em class="fas fa-search"></em></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="col-12 col-md-3 col-lg-2 mb-3"
                        *ngFor="let item of elginProducts[3]?.produtosTipo?.produtos; let type = index">
                        <div class="card card-multiblock">
                            <div class="body">
                                <div class="thumbnail">
                                    <img [src]="item?.imagem" alt="representação do item"
                                        (click)="openComparativeModal(item)">
                                    <div class="term" [ngClass]="{'success' : item.prazo == 'pronta entrega',
                                                        'warning' : item.prazo == 'em análise'}">
                                        <em *ngIf="item.prazo == 'pronta entrega'" class="fas fa-truck fa-1x"></em>
                                        <em *ngIf="item.prazo == 'em análise'" class="fas fa-industry fa-1x"></em>
                                        <span>{{ item?.prazo }}</span>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="cod">
                                        <span>Código:</span>
                                        <span>{{ item?.cod }}</span>
                                    </div>
                                    <div class="item-description">
                                        <span>{{ item?.desc }}</span>
                                    </div>
                                    <div class="stock">
                                        <span>Estoque:</span>
                                        <span>{{ item.estoque }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="footer" (click)="stopPropagation($event)">
                                <div class="amount">
                                    <button class="btn btn-decrease" (click)="decreaseAmount(amountPanel)">
                                        <em class="fas fa-minus-circle"></em>
                                    </button>

                                    <input type="number" [id]="'amount'+ type" [value]="amount" class="panel"
                                        #amountPanel>

                                    <button class="btn btn-increase" (click)="increaseAmount(amountPanel)">
                                        <em class="fas fa-plus-circle"></em>
                                    </button>

                                    <a href="javascript:void(0)">adicionar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Caso o usuário apertar próximo no carrinho, esta sessão será renderizada -->
<ng-template #finishOrder>
    <elgin-finish-order></elgin-finish-order>
</ng-template>