<div class="modal-header">
    <div class="close" (click)="activeModal.dismiss()">
        <small>fechar</small>
        <small aria-hidden="true">&times;</small>
    </div>
</div>

<div class="modal-body">
    <p>Detalhes do Produto</p>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="prdCod">Código do Produto</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="000000001000000465">
        </div>
        <div class="form-group col-md-3">
            <label for="prdCod">Descrição do Produto</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="MANGUEIRA">
        </div>
        <div class="form-group col-md-3">
            <label for="prdCod">Código NCM:</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="40092110">
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" aria-describedby="product detail table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Estoque</th>
                    <th scope="col" class="text-center">Área</th>
                    <th scope="col" class="text-center">Sub-linha</th>
                    <th scope="col" class="text-center">Linha</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center">EL02 - Elgin S/A - Fabrica Mogi - SP</td>
                    <td class="text-center">ELGIN S/A</td>
                    <td class="text-center"></td>
                    <td class="text-center">Refrigeração</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label for="">Largura (mm)</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="Largura (mm)">
        </div>
        <div class="form-group col-md-3">
            <label for="">Cod. Periodo DV</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="510,0">
        </div>
        <div class="form-group col-md-3">
            <label for="">Unidade Medida</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="510,0">
        </div>
        <div class="form-group col-md-3">
            <label for="">Peso Liquido</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="10,30">
        </div>
        <div class="form-group col-md-3">
            <label for="">Profundidade (mm)</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="510,0">
        </div>
        <div class="form-group col-md-3">
            <label for="">Validade Máxima</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="0">
        </div>
        <div class="form-group col-md-3">
            <label for="">Unidade Dimensao</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="MM">
        </div>
        <div class="form-group col-md-3">
            <label for="">Grupo Mercadoria</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="REFRIGERACAO">
        </div>
        <div class="form-group col-md-3">
            <label for="">Altura (mm)</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="32">
        </div>
        <div class="form-group col-md-3">
            <label for="">Status Material</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="32">
        </div>
        <div class="form-group col-md-3">
            <label for="">Unidade Volume</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="CMM">
        </div>
        <div class="form-group col-md-3">
            <label for="">SubGrupo Mercadoria</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="Outros">
        </div>
        <div class="form-group col-md-3">
            <label for="">Peso (kg)</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="11,33">
        </div>
        <div class="form-group col-md-3">
            <label for="">EAN</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="7897013589867">
        </div>
        <div class="form-group col-md-3">
            <label for="">Volume</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="14361,6">
        </div>
        <div class="form-group col-md-3">
            <label for="">Centro</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="EL02">
        </div>
        <div class="form-group col-md-3">
            <label for="">Topo de Material</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="ZPA2">
        </div>
        <div class="form-group col-md-3">
            <label for="">Tipo EAN</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="Z4">
        </div>
        <div class="form-group col-md-3">
            <label for="">Unidade Peso</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="KG">
        </div>
        <div class="form-group col-md-3">
            <label for="">Depósito</label>
            <input type="text" id="prdCod" class="form-control form-control-sm" value="DP2">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-custom" (click)="activeModal.close('Close click')">Fechar</button>
</div>