<div class="px-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <span class="title">Cotas de Produtos por Área / Gerente</span>

        <div class="action-buttons">
            <button class="btn btn-upload">UPLOAD DE ARQUIVO</button>
            <button class="btn btn-download">DOWNLOAD MODELO EM EXECEL <em class="far fa-file-excel"></em></button>
        </div>
    </div>

    <form>
        <div class="form-row align-items-end">
            <div class="form-group col-md-3">
                <label for="period">Período - Mês/Ano</label>
                <div class="input-group">
                    <input class="form-control" id="period" name="d1" #c1="ngModel" [(ngModel)]="date" ngbDatepicker
                        #d1="ngbDatepicker" (input)="regex($event)" maxlength="10">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                            <em class="fas fa-calendar-alt"></em>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="area">Área</label>
                <select id="area" class="custom-select">
                    <option value="">El06 - Elgin Ind. Fábrica Manaus</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="canal">Canal</label>
                <select id="canal" class="custom-select">
                    <option value="">Todos</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="manager">Gerente</label>
                <select id="manager" class="custom-select">
                    <option value="">Paulo José</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <label for="product">Produto</label>
                <select id="product" class="custom-select">
                    <option value="">Ar condicionado</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="stock">Estoque</label>
                <select id="stock" class="custom-select">
                    <option value="">Todos</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="amount">Quantidade</label>
                <input id="amount" class="form-control" type="text">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-add"><em class="fas fa-plus-circle mr-1"></em>Adicionar</button>
            </div>
        </div>
    </form>

    <hr>

    <div class="table-responsive">
        <p>Cotas Cadastradas</p>
        <table class="table table-bordered table-sm" aria-describedby="included products table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Imagem</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Área / Estoque</th>
                    <th scope="col">Qtd.</th>
                    <th scope="col" class="text-center">Período</th>
                    <th scope="col" class="text-center">Gerente</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center">
                        <img src="../../../../../assets/artefacts/splithighwall.png" alt="imagem do produto"
                            class="img-thumbnail">
                    </td>
                    <td>
                        <div class="form-group m-0">
                            <label for="codDesc">Cód/ Descrição:</label>
                            <span id="cod" class="d-block text-dark">45HTQE18B2NA</span>
                            <span id="desc" class="d-block">UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH</span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group m-0">
                            <span id="area" class="d-block">Refrigeração Nacional</span>
                            <span id="stock" class="d-block text-dark">5 - EI06 - Elgin Ind.Fabrica Manaus</span>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="!enableEditArea else editArea">200</span>
                        <ng-template #editArea>
                            <input type="text" class="form-control" value="200">
                        </ng-template>
                    </td>
                    <td class="text-center">01/2020</td>
                    <td class="text-center">Paulo José</td>
                    <td class="text-center">
                        <em class="fas fa-pen fa-lg" (click)="enableEditArea = !enableEditArea"
                            *ngIf="!enableEditArea else saveButton"></em>
                        <ng-template #saveButton>
                            <button class="btn btn-edit" (click)="enableEditArea = !enableEditArea">salvar</button>
                        </ng-template>
                    </td>
                    <td class="text-center"><em class="fas fa-times-circle fa-lg"></em></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center my-5">
        <button class="btn btn-save">GRAVAR DADOS</button>
    </div>
</div>