<div class="px-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <span class="title">Cadastro VPC</span>

        <div class="action-buttons">
            <button class="btn btn-upload">UPLOAD DE ARQUIVO</button>
            <button class="btn btn-download">DOWNLOAD MODELO EM EXECEL <em class="far fa-file-excel"></em></button>
        </div>
    </div>

    <form>
        <p>Relacionar Contratos em VPC Cliente</p>

        <div class="form-row align-items-end">

            <div class="form-group col-md-3 search">
                <em class="fas fa-search"></em>
                <label for="cnpjCpfSearch">CNPJ/CPF</label>
                <input id="cnpjCpfSearch" type="text" class="form-control" [ngbTypeahead]="search"
                    [resultFormatter]="formatter">
            </div>
            <div class="form-group col-md-9 search">
                <em class="fas fa-search"></em>
                <label for="lineSublineSearch">Linha e Sub linha</label>
                <input id="lineSublineSearch" type="text" class="form-control" [ngbTypeahead]="search"
                    [resultFormatter]="formatter">
            </div>

            <div class="form-group col-md-4">
                <label for="contract">Contrato</label>
                <input id="contract" class="form-control" type="text">
            </div>
            <div class="form-group col-md-4">
                <label for="percentageDirector">Porcentagem Provisão Diretoria</label>
                <input id="percentageDirector" class="form-control" type="text">
            </div>
            <div class="form-group col-md-4">
                <label for="percentageComercial">Porcentagem Provisão Comercial</label>
                <input id="percentageComercial" class="form-control" type="text">
            </div>
        </div>
    </form>

    <hr>

    <div class="table-responsive my-4">
        <small>43 grupos cadastrados</small>
        <table class="table table-bordered table-sm" aria-describedby="orders table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col">Descrição<em class="fas fa-search"></em></th>
                    <th scope="col">Área<em class="fas fa-search"></em></th>
                    <th scope="col" class="text-center">Itens Grupo de Produtos</th>
                    <th scope="col" class="text-center">Editar</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center">01</td>
                    <td>Costura</td>
                    <td>DIMACON</td>
                    <td class="text-center">
                        <button class="btn btn-custom" (click)="openVpcCustomerDetailsModal()">visualizar</button>
                    </td>
                    <td class="text-center">
                        <button class="btn"><em class="fas fa-pen"></em></button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">02</td>
                    <td>Costura</td>
                    <td>DIMACON</td>
                    <td class="text-center">
                        <button class="btn btn-custom" (click)="openVpcCustomerDetailsModal()">visualizar</button>
                    </td>
                    <td class="text-center">
                        <button class="btn"><em class="fas fa-pen"></em></button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">03</td>
                    <td>Costura</td>
                    <td>DIMACON</td>
                    <td class="text-center">
                        <button class="btn btn-custom" (click)="openVpcCustomerDetailsModal()">visualizar</button>
                    </td>
                    <td class="text-center">
                        <button class="btn"><em class="fas fa-pen"></em></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center my-5">
        <button class="btn btn-save">GRAVAR DADOS</button>
    </div>
</div>