@media screen and (max-width: 425px) {
    label {
        font-size: 0.8rem !important;
        margin-bottom: 0.25rem !important;
    }
}

label {
    color: #6c757d !important;
    font-size: 0.7rem;
    margin-bottom: 0px;
}

a {
    font-size: var(--sub-text);
}

input,
select {
    border-radius: 6px;
    font-size: var(--default-text);
    color: var(--primary);
}

.btn.calendar {
    font-size: var(--sub-text) !important;
    border-color: #ced4da;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;

    &:hover {
        background-color: transparent;
    }

    em {
        color: #c7c7c7;
    }
}

.title {
    color: var(--title);
}

.sub-title {
    font-size: var(--default-text);
    color: var(--title);
}

@media screen and (max-width: 425px) {

    .btn-export,
    .btn-filter {
        width: 100%;
        margin: 0.75rem 0rem !important;
    }
}

.btn-export {
    font-size: var(--sub-text);
    color: #4DBF69;
    border: 1px solid;
    border-radius: 32px;

    em {
        font-size: var(--default-text);
    }
}

.btn-filter {
    width: 100%;
    background-color: var(--primary);
    font-size: var(--sub-text);
    color: #ffffff;
    border-radius: 32px;
}

.btn-custom {
    width: 100%;
    font-size: var(--sub-text);
    color: var(--blue);
    border: 1px solid;
    border-radius: 32px;
}

.horizontal-bar {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #F8F8F8;

    .date {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        span {
            font-size: var(--sub-text);
            color: #333333;
        }

        a {
            font-size: var(--sub-text);
            color: var(--link);
            text-decoration: underline;
        }
    }

    .percentage {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .actual-percentage {
            width: 80%;
            display: flex;
            align-items: center;
            padding: 0.35rem 0.5rem;
            background-color: #E8F3FC;
            border-radius: 8px;

            span {
                display: block;
            }

            span:nth-child(1) {
                margin-right: 0.5rem;
                font-size: 28px;
                color: var(--primary);
            }

            span:nth-child(2) {
                font-size: var(--sub-text);
                color: #333333;
                line-height: 13px;
            }
        }

        .total {
            font-size: 18px;
            color: var(--primary);
        }
    }
}