<section>
    <div class="container-fluid">

        <div class="charts">

            <div class="col-md-12 col-lg-9 px-0">
                <div class="left-side">

                    <div class="col-md-4 col-lg-3">
                        <div class="vertical-bar-chart">
                            <span class="title mb-2">Meta Mensal</span>
                            <div class="chart-info">

                                <div class="vertical-bar">
                                    <elgin-vertical-bar-chart [barChart]="barChart"></elgin-vertical-bar-chart>
                                </div>

                                <div class="info">
                                    <span>80%</span>
                                    <span>atingidos</span>
                                    <a href="javascript:void(0)">+ detalhes</a>
                                </div>
                            </div>

                            <span class="recipt">R$ 645.210,05</span>
                        </div>
                    </div>

                    <div class="col-md-8 col-lg-9">
                        <div class="line-chart">
                            <span class="dateNow">25/abril/2020</span>
                            <span class="title mb-2">Desempenho diário da meta</span>
                            <elgin-line-chart [lineChart]="lineChart"></elgin-line-chart>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="comissions">
                            <div class="sup">
                                <span>commissões</span>
                                <a href="javascript:void(0)">+ detalhes</a>
                            </div>

                            <div class="content">
                                <div class="state">
                                    <em class="fas fa-money-bill text-success"></em>
                                    <span>liberadas</span>
                                </div>

                                <img src="../../../../assets/artefacts/Ellipse31.png" alt="straight line">

                                <div class="state">
                                    <em class="fas fa-coins text-warning"></em>
                                    <span>em aprovação</span>
                                </div>

                                <img src="../../../../assets/artefacts/Ellipse31.png" alt="straight line">

                                <div class="state">
                                    <em class="far fa-clock"></em>
                                    <span>em atraso</span>
                                </div>

                                <img src="../../../../assets/artefacts/Ellipse31.png" alt="straight line">

                                <div class="state">
                                    <em class="far fa-calendar-alt"></em>
                                    <span>futuras</span>
                                </div>
                            </div>

                            <div class="bottom">
                                <span>Status da Comissão: </span>
                                <span>Abril 2020 Aprovada</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="approved">
                            <div class="sup">
                                <span>aprovado</span>
                                <a href="javascript:void(0)">+ detalhes</a>
                            </div>

                            <div class="content">
                                <div class="state">
                                    <em class="fas fa-box"></em>
                                    <span>252</span>
                                    <span>em separação</span>
                                </div>

                                <img src="../../../../assets/artefacts/Ellipse31.png" alt="straight line">

                                <div class="state">
                                    <em class="fas fa-receipt"></em>
                                    <span>452</span>
                                    <span>faturado</span>
                                </div>

                                <img src="../../../../assets/artefacts/Ellipse31.png" alt="straight line">

                                <div class="state">
                                    <em class="fas fa-truck-moving"></em>
                                    <span>452</span>
                                    <span>em transito</span>
                                </div>

                                <img src="../../../../assets/artefacts/Ellipse31.png" alt="straight line">

                                <div class="state">
                                    <em class="fas fa-gift"></em>
                                    <span>450</span>
                                    <span>entregue</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12 col-lg-3 px-0">
                <div class="right-side">

                    <div class="col-md-6 col-lg-12">
                        <div class="orders">
                            <div class="sup">
                                <span>pedidos</span>
                                <a href="javascript:void(0)">+ detalhes</a>
                            </div>
                            <div class="content">
                                <div class="orders-info aproved">
                                    <span>252</span>
                                    <span>Aprovados</span>
                                </div>
                                <div class="orders-info reproved">
                                    <span>23</span>
                                    <span>Reprovados</span>
                                </div>
                                <div class="orders-info returned">
                                    <span>12</span>
                                    <span>Retornados</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-12">
                        <div class="analysis">
                            <div class="sup">
                                <span>em analise</span>
                                <a href="javascript:void(0)">+ detalhes</a>
                            </div>
                            <div class="content">
                                <elgin-pie-chart [pieChart]="pieChart"></elgin-pie-chart>
                            </div>

                            <div class="budget">
                                <span>75</span>
                                <span>pedidos</span>
                                <span>orçamento</span>
                            </div>
                            <div class="returned">
                                <span>12</span>
                                <span>pedidos</span>
                                <span>retornados</span>
                            </div>
                            <div class="credit">
                                <span>450</span>
                                <span>pedidos</span>
                                <span>crédito</span>
                            </div>
                            <div class="comercial">
                                <span>152</span>
                                <span>pedidos</span>
                                <span>comercial</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="carousel">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../../../assets/artefacts/Group108.png" alt="Carousel images">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <div class="selling-champions">
        <span class="title">Campeões de Venda</span>

        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../../../assets/artefacts/Group23.png" alt="selling-champions">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>