section {
    padding: 0rem 1rem;
}


.btn-save {
    min-width: 150px;
    background-color: var(--primary);
    font-size: var(--sub-text);
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 32px;
}

.title {
    font-size: 18px;
    color: var(--primary);
}

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 425px) {

        .btn-export {
            width: 100%;
            margin: 0.75rem 0rem !important;
        }

        .btn-enable,
        .btn-disable {
            font-size: 0.6rem !important;
            margin: 1rem 0rem !important;
        }
    }

    .btn-export {
        font-size: var(--sub-text);
        margin: 0.5rem 0.35rem;
        border-radius: 32px;
        border: 1px solid;
        color: #4DBF69;
    }

    .btn-enable,
    .btn-disable {
        font-size: var(--sub-text);
        margin: 0.5rem 0.35rem;
    }

    .btn-enable {
        background-color: #4BD37B;
        border-radius: 25px;
        color: #fff;
    }

    .btn-disable {
        background-color: #dc3545;
        border-radius: 25px;
        color: #fff;
    }

    .custom-control-label {
        font-size: var(--sub-text) !important;
        color: var(--primary) !important;
    }

    .custom-control-label::before,
    .custom-control-label::after {
        top: 0 !important;
    }
}

@media screen and (max-width: 425px) {
    label {
        font-size: 0.8rem !important;
        margin-bottom: 0.25rem !important;
    }
}

label {
    color: #6c757d !important;
    font-size: 0.7rem;
    margin-bottom: 0px;
}

input,
select {
    border-radius: 6px;
    font-size: var(--default-text);
    color: var(--primary);
}

.search.form-group {
    position: relative;

    .fa-search {
        position: absolute;
        top: 31px;
        left: 13px;
        padding: 5px;
        background: var(--title);
        color: #fff;
        border-radius: 50%;
        font-size: var(--default-text);
    }

    .form-control {
        padding-left: 40px;
    }
}

.table-responsive {
    table {
        margin: 0;
        border-collapse: separate;
        border-spacing: 0 3px;
        border: 0;

        thead th {
            background-color: #265980;
            color: #fff;
            font-family: montserratregular;
            font-size: var(--sub-text);
            padding: .5rem;

            .fa-search {
                padding: 4px;
                float: right;
                border-radius: 50%;
                color: #265980;
                background-color: #fff;
                font-size: 11px;
                cursor: pointer;

                &::before {
                    margin-left: unset !important;
                }
            }
        }

        tbody td:nth-child(1) {
            width: 50px;
        }

        @media screen and (max-width: 425px) {
            tbody td:not(:first-child) {
                min-width: 160px;
            }
        }

        tbody tr td:not(:nth-child(n+11)) {
            cursor: pointer;
        }

        tbody tr:hover {
            background-color: rgba(0, 0, 0, .05) !important;
        }

        tbody td {
            font-family: montserratregular;
            font-size: 11px;
            color: var(--link);
            vertical-align: middle;

            .status {
                padding: 0.25rem 1rem;
                border-radius: 32px;
                color: #fff;
                text-transform: capitalize;
            }

            .status.approved {
                background-color: #4BD37B;
            }

            .status.reproved {
                background-color: #dc3545;
            }

            .status.pending {
                background-color: #ffa75f;
            }

            .fa-check-circle {
                color: #4BD37B;
            }

            .fa-times-circle {
                color: #dc3545;
            }

            .btn:disabled {
                cursor: default;

                .fa-check-circle,
                .fa-times-circle {
                    opacity: 0.8;
                }
            }
        }
    }
}