<section>
    <div class="px-3">
        <p class="title">Aprovação</p>
        <!--
        <div hidden="hidden" class="form-row align-items-end">

            <div class="form-group col-md-12 m-0 search">
                <em class="fas fa-search"></em>
                <label for="customerSearch">Buscar Cliente</label>
                <input id="customerSearch" placeholder="Nome ou Documento"  type="text" class="form-control" [(ngModel)]="descriptionPesquisa">
            </div>
        </div>
             
        <div hidden="hidden" class="action-buttons my-2">
            <div class="checkboxes-inline">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox"  [(ngModel)]="TipoPessoaCheckBox.pessoaJuridica" class="custom-control-input" id="isJuridic">
                    <label class="custom-control-label" for="isJuridic">Pessoa Jurídica</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" [(ngModel)]="TipoPessoaCheckBox.pessoaFisica" class="custom-control-input" id="isFisic">
                    <label class="custom-control-label"  for="isFisic">Pessoa Física</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox"  [(ngModel)]="TipoPessoaCheckBox.pessoaExportacao" class="custom-control-input" id="isExport">
                    <label class="custom-control-label" for="isExport">Cliente Exportação</label>
                </div>
                <div hidden="hidden" class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="approveds">
                    <label class="custom-control-label" for="approveds">Aprovados</label>
                </div>
                <div hidden="hidden" class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="reproveds">
                    <label class="custom-control-label" for="reproveds">Reprovados</label>
                </div>
                <div hidden="hidden" class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="pending">
                    <label class="custom-control-label" for="pending">Pendentes</label>
                </div>
            </div>
           
        </div>

        <div hidden="hidden" class="text-center my-5">
            <button (click)="getConsultaAprovacao()" class="btn btn-save" style="float: right; margin-top: -17px;"><span class="fa-search fas"></span> Pesquisar </button>
        </div>
        <br/>
-->
        <div class="d-flex flex-wrap align-items-end justify-content-between mt-4">
            <small>186 clientes encontrados</small>

            <div class="action-buttons">
                <button class="btn btn-export">EXPORTAR PARA EXCEL <em class="far fa-file-excel"></em></button>
                <!-- <button class="btn btn-enable">LIBERAR SELECIONADOS</button>
                <button class="btn btn-disable">BLOQUEAR SELECIONADOS</button> -->
            </div>
        </div>
        <div class="caixa" *ngIf="loading">
            <img class="loading"src="../../../assets/login.svg" alt="elgin up logo"> 
        </div>
        <div *ngIf="mostrar" class="table-responsive">
            <table class="table table-bordered table-hover table-sm" aria-describedby="orders table">
                <thead>
                    <tr>
                        <!-- <th scope="col" class="text-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="all"
                                    (change)="isSelected = !isSelected">
                                <label class="custom-control-label" for="all"></label>
                            </div>
                        </th> -->
                       
                        <th scope="col">Pedido</th>
                        <th scope="col"  >Data fase</th>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Cliente </th>
                        <th scope="col" class="text-center">País</th>
                        <th scope="col" class="text-center">Nº NF</th>
                        <th scope="col" class="text-center">Fase</th>
                        <th scope="col" class="text-center">Tipo</th>
                        <th scope="col">Status<em class="fas fa-search"></em></th>
                        <th scope="col" class="text-center">Aprovar</th>
                        <th scope="col" class="text-center">Reprovar</th>
                    </tr>
                </thead>

                <tbody>
                        <tr *ngFor="let aprovacao of datatableMontado" (click)="openCustomerDetailsModal($event)">
                            <!-- <td class="text-center">
                                <div class="custom-control custom-checkbox" (click)="stopPropagation($event)">
                                    <input type="checkbox" class="custom-control-input" name="selector" [id]="aprovacao.id"
                                        [checked]="isSelected">
                                    <label class="custom-control-label" [for]="aprovacao.id"></label>
                                </div>
                            </td> -->
                            
                            <td>{{ aprovacao.id }}</td>
                            <td >{{aprovacao.data}}</td>
                            <td> nao há </td>
                            <td>{{ aprovacao.nomeEmpresa }}</td>
                            <td class="text-center">{{aprovacao?.pais?.Descricao}}</td>
                            <td class="text-center">{{aprovacao?.invoiceNumber}}</td>
                            <td class="text-center">{{aprovacao?.fase}}</td>
                            <td class="text-center">{{aprovacao?.tipo}}</td>
                            <td class="text-center">
                                <span class="status" [ngClass]="{
                                        'approved' : aprovacao.status === 'Aprovado',
                                        'reproved' : aprovacao.status === 'Reprovado',
                                        'pending' :  aprovacao.status === 'Pendente'
                                    }">{{ aprovacao.status }}</span>
                            </td>
                            <td class="text-center" (click)="stopPropagation($event)">
                                <button class="btn" (click)="AprovarCliente(aprovacao.pessoaID , aprovacao.id)" [disabled]="aprovacao.status === 'reprovado'">
                                    <em class="fas fa-check-circle fa-lg"></em>
                                </button>
                            </td>
                            <td class="text-center" (click)="stopPropagation($event)">
                                <button class="btn" (click)="ReprovarCliente(aprovacao.pessoaID , aprovacao.id , '')" [disabled]="aprovacao.status === 'aprovado'">
                                    <em class="fas fa-times-circle fa-lg"></em>
                                </button>
                            </td>
                        </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</section><br/><br/><br/>