<div class="modal-header">
    <div class="close" (click)="activeModal.dismiss()">
        <small>fechar</small>
        <small aria-hidden="true">&times;</small>
    </div>
</div>

<div class="modal-body">
    <p>Cadastro de Vendedor</p>

    <form>
        <div class="form-row align-items-end">
            <div class="form-group col-md-3">
                <label for="SellerCpf">CPF</label>
                <input id="SellerCpf" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="SellerRg">RG</label>
                <input id="SellerRg" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="SellerArea">Área</label>
                <select id="SellerArea" class="custom-select">
                    <option value="">Refrigeração Nacional</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="SellerRepresentative">Representante</label>
                <select id="SellerRepresentative" class="custom-select">
                    <option value="">FABRICIO FIORI - ME</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="SellerName">Nome</label>
                <input id="SellerName" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="SellerCep">CEP</label>
                <input id="SellerCep" class="form-control" type="text">
            </div>
            <div class="form-group col-md-5">
                <label for="SellerAddress">Logradouro</label>
                <input id="SellerAddress" class="form-control" type="text">
            </div>
            <div class="form-group col-md-2">
                <label for="SellerAddressNumber">Número</label>
                <input id="SellerAddressNumber" class="form-control" type="text">
            </div>
            <div class="form-group col-md-2">
                <label for="SellerAddressComplement">Complemento</label>
                <input id="SellerAddressComplement" class="form-control" type="text">
            </div>

            <div class="form-group col-md-5">
                <label for="SellerAddressNeighborhood">Bairro</label>
                <input id="SellerAddressNeighborhood" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="SellerAddressState">UF</label>
                <select id="SellerAddressState" class="custom-select">
                    <option value="">RJ</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="SellerAddressCity">Cidade</label>
                <select id="SellerAddressCity" class="custom-select">
                    <option value="">SAO SEBASTIAO</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="SellerEmail">E-mail</label>
                <input id="SellerEmail" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="SellerAlternativeEmail">E-mail Alternativo</label>
                <input id="SellerAlternativeEmail" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="SellerFixedTel">Telefone Fixo</label>
                <input id="SellerFixedTel" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="SellerMobileTel">Telefone Celular</label>
                <input id="SellerMobileTel" class="form-control" type="text">
            </div>
        </div>

        <div class="text-center my-5">
            <button class="btn btn-save">CONCLUIR</button>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-custom" (click)="activeModal.close('Close click')">Fechar</button>
</div>