<ngx-charts-bar-vertical 
    [view]="view" 
    [scheme]="scheme" 
    [results]="barChart" 
    [yAxis]="showYAxis"
    [xAxis]="showXAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [showDataLabel]="showDataLabel"
    [yAxisLabel]="yAxisLabel"
    [yScaleMin]="minYScaleValue"
    [yScaleMax]="maxYScaleValue"
    [legend]="legend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [barPadding]="barPadding"
    [autoScale]="autoScale">
</ngx-charts-bar-vertical>