<section>
    <div class="px-3">
        <p class="title">Consulta Clientes </p>

        <div class="form-row align-items-end">

            <div class="form-group col-md-12 m-0 search">
                <em class="fas fa-search"></em>
                <label for="customerSearch">Buscar Cliente</label>
                <input id="customerSearch" type="text" class="form-control" [ngbTypeahead]="search"
                    [resultFormatter]="formatter">
            </div>
        </div>

        <div class="action-buttons my-2">
            <div class="checkboxes-inline">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="isJuridic">
                    <label class="custom-control-label" for="isJuridic">Pessoa Jurídica</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="isFisic">
                    <label class="custom-control-label" for="isFisic">Pessoa Física</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="isExport">
                    <label class="custom-control-label" for="isExport">Cliente Exportação</label>
                </div>
            </div>
            <button class="btn btn-export">EXPORTAR PARA EXECEL <em class="far fa-file-excel"></em></button>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-sm" aria-describedby="orders table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col">Cliente<em class="fas fa-search"></em></th>
                        <th scope="col">Cód.Elgin UP<em class="fas fa-search"></em></th>
                        <th scope="col">Endereço <em class="fas fa-search"></em></th>
                        <th scope="col">País <em class="fas fa-search"></em></th>
                        <th scope="col">Área <em class="fas fa-search"></em></th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="text-center">01</td>
                        <td>Alberto Portenho Inc</td>
                        <td>30672661000125</td>
                        <td>Sarmiento 151 - C1041 AAE</td>
                        <td>Argentina</td>
                        <td>REFRIGERACAO NACIONAL</td>
                        <td class="text-center">ativo</td>
                        <td class="text-center">
                            <button class="btn" (click)="openCustomerDetailModal()">
                                <em class="fas fa-eye"></em>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">02</td>
                        <td>Elgin</td>
                        <td>30672661000125</td>
                        <td>R. Barão de Campinas, 305</td>
                        <td>Brasil</td>
                        <td>REFRIGERACAO NACIONAL</td>
                        <td class="text-center">ativo</td>
                        <td class="text-center">
                            <button class="btn" (click)="openCustomerDetailModal()">
                                <em class="fas fa-eye"></em>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">03</td>
                        <td>Maria Pereira</td>
                        <td>30672661000125</td>
                        <td>Av. Pres. Costa e Silva, 1212 </td>
                        <td>Brasil</td>
                        <td>REFRIGERACAO NACIONAL</td>
                        <td class="text-center">ativo</td>
                        <td class="text-center">
                            <button class="btn" (click)="openCustomerDetailModal()">
                                <em class="fas fa-eye"></em>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>