.title {
    padding: 0 1rem;
    color: var(--primary);
}

.background-form {
    background-color: white;  
    border: none !important;
    width: 381px;
}


/*--------------------------------------------------------------------------------------------------*/

.btn-cancel {
    border: 1px solid;
    color: var(--primary);
}


@media screen and (max-width: 768px) {
    section {
        padding-left: 0px !important;
    }
}

section {
    padding-left: 55px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #FBFBFB;

    .title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        em {
            font-size: 26px;
            color: #dcdcdc;
            margin-right: 15px;
        }

        span {
            font-size: 26px;
            color: var(--title);
            font-weight: lighter;
        }
    }
}

@media screen and (max-width: 425px) {
    .types-button {
        justify-content: start !important;
    }
}

.types-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: var(--primary);
    font-family: montserratregular;

    .btn-item {
        width: 7%;
        text-align: center;
        color: #fff;

        em {
            display: block;
            font-size: 27px;
        }

        span {
            display: block;
            font-size: 0.6rem;
            text-transform: capitalize;
            margin-top: 3px;
        }
    }


    @media screen and (max-width: 768px) {

        .btn-item {
            width: 33.33%;
        }
    }

    .btn-item.active {

        em,
        span {
            color: var(--water-green);
        }
    }
}


.breadcrumb {
    background-color: #fff;
    font-family: montserratregular;
    font-size: 0.75rem;

    .breadcrumb-item {
        color: var(--blue);

        &:last-child {
            color: #6c757d;
        }

        &:not(:last-child) {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: var(--primary);

}

.btn-save {
    background-color: var(--primary);
    font-size: var(--default-text);
    color: #fff;
    text-transform: uppercase;
    border-radius: 32px;
}

.title-page{
    text-align: center;
    margin : 0px 0px 54px 0px;
    font-size: 30px;
    font-family: fontPrincipal;
    
}