.title {
    padding: 0 1rem;
    color: var(--primary);
}



.msgError{
    color:red;
}
.superior-card {
    background-color: #F8F8F8;

    .bluesh-container,
    .added-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #E8F3FC;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, .125);

        .search.form-group {
            position: relative;

            .fa-search {
                position: absolute;
                top: 31px;
                left: 13px;
                padding: 5px;
                background: var(--title);
                color: #fff;
                border-radius: 50%;
                font-size: var(--default-text);
            }

            .form-control {
                padding-left: 40px;
            }
        }

        .custom-control-label {
            font-size: var(--default-text);
            color: var(--primary) !important;
        }

        .custom-control-label::before {
            border: #ced4da solid 1px;
        }

        .custom-control-input:focus~.custom-control-label::before {
            box-shadow: none;
        }

        .custom-control-input:checked~.custom-control-label::before {
            background-color: #007bff;
            border: 3px solid #fff;
            padding: 6px;
        }

        .custom-radio .custom-control-input:checked~.custom-control-label::after {
            background-image: none !important;
            background-color: unset;
            border: 1px solid #ced4da;
            border-radius: 50%;
            padding: 8px;
        }

        .add-product-button {
            position: relative;
            width: 70%;
            height: 138.5px;
            background-color: var(--blue);
            border-radius: 8px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                box-shadow: none !important;
            }

            .fa-inbox,
            .fa-sort-down {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .fa-inbox {
                font-size: 70px;
                color: #1F9EFF;
            }

            .fa-sort-down {
                top: 40%;
                color: #ffffff;
            }

            span {
                display: block;
                width: 100%;
                position: absolute;
                bottom: 3%;
                text-align: center;
                font-size: 60%;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }

    .added-container {
        margin-top: 0.5rem;
        background-color: unset !important;
        border: none !important;

        .btn-edit,
        .btn-save {
            color: #fff;
            border-radius: 50%;
            padding: .475rem .75rem;
        }

        .btn-edit {
            background-color: var(--blue);
        }

        .btn-save {
            background-color: #4BD37B;
        }
    }

    .btn-save {
        background-color: var(--primary);
        font-size: var(--default-text);
        color: #fff;
        text-transform: uppercase;
        border-radius: 32px;
    }
}