<section>
    <p class="title"> Alterar Senha </p>

    <div #AlertGeral *ngIf="mostraValidacoesGeral" class="alert alert-success" role="alert">
             {{ validationGeral }}
        <button type="button"  class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

    <div class="row">
        <div class="col col-md-4"></div>
        <div style="width: 426px;" class="card superior-card">
            <div class="card-body">
                <div class="form-group col col-12">
                    <label class="custom-label" for="current_pass">Senha Atual</label>
                    <div class="msgError" [innerHTML]="validationSenhaAtual"></div>
                    <input id="current_pass" #currentPass type="password" (keyup)="validaSenhaOnType()" class="form-control" [(ngModel)]="dadosFormulario.currentPassword" />
                </div>
                <div class="form-group col col-12">
                    <label class="custom-label" for="new_pass">Nova Senha</label>
                    <div class="msgError" [innerHTML]="validationNewSenhaAtual"></div>
                    <input id="new_pass" #newPass type="password" (keyup)="validaNewSenhaOnType()" class="form-control" [(ngModel)]="dadosFormulario.newPassword" />
                </div>
                <div class="form-group col col-12">
                    <label class="custom-label" for="confirm_new_pass">Confirmação de Senha</label>
                    <div class="msgError" [innerHTML]="validationConfirmSenhaAtual"></div>
                    <input id="confirm_new_pass" (keyup)="validaConfirmSenhaOnType()" #ConfirmNewPass type="password" class="form-control" [(ngModel)]="dadosFormulario.confirmNewPassword"/>
                </div>
                <br/>
                <div class="row">
                  <div class="col col-md-1"></div>
                    <div class="form-group col-6">
                        <button disabled (click)="submitFormAlter()"  style="cursor: not-allowed;" #btnConfirm class="btn btn-success"><span class="fa fa-key"></span> &nbsp; Confirmar</button>
                    </div>
                    <div class="form-group col-4">
                        <button (click)="limpaCamposCadastro(true)" class="btn btn-danger"><span class="fa fa-times"></span> &nbsp; Limpar </button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
 <br/><br/>