.title {
    padding: 0 1rem;
    color: var(--primary);
}

.background-form {
    background-color: white;  
    border: none !important;
    
}


/*--------------------------------------------------------------------------------------------------*/

.stores {
    .chosen-filter {
        background-color: #F0F0F0;
        width: fit-content;
        padding: 0.25rem 1rem;
        font-size: var(--sub-text);
    }

    @media screen and (min-width: 375px) and (max-width: 768px) {
        .checkboxes-inline {
            display: flex;
            flex-direction: column;
        }
    }

    .checkboxes-inline {
        padding: 15px 10px;
        border: 1px solid #F0F0F0;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .custom-control-label {
            font-size: var(--default-text);
            font-family: montserratregular;

            &::before {
                border-color: #80bdff;
            }
        }
    }
    .caixa50 {
     
        width: 50%;
    }
    @media screen and (max-width: 500px)  {
        .caixa50 {
            width: 100%;
        }
    }
}
.ajuteBotoes{
    padding: 0px 20px;
}
.divCenter{
    margin: 0 auto;
}

.divE{
    text-align: right;
    padding: 0 15px;
}


.btn-save {
    min-width: 150px;
    background-color: #4BD37B;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 32px;
    height: 35px;
}



.btn-custom {
    min-width: 150px;
    background-color: red;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 32px;
    height: 35px;

   
}

.center{

font-size: 18px;
   text-align: center;
   padding: 20px 0;
}


.espaco{
 margin-left: 30px;
 margin-top: 2px;

}


.btn-cancel {
    border: 1px solid;
    color: var(--primary);
}


@media screen and (max-width: 768px) {
    section {
        padding-left: 0px !important;
    }
}

section {
    padding-left: 55px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #FBFBFB;

    .title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        em {
            font-size: 26px;
            color: #dcdcdc;
            margin-right: 15px;
        }

        span {
            font-size: 26px;
            color: var(--title);
            font-weight: lighter;
        }
    }
}

@media screen and (max-width: 425px) {
    .types-button {
        justify-content: start !important;
    }
}

.types-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: var(--primary);
    font-family: montserratregular;

    .btn-item {
        width: 7%;
        text-align: center;
        color: #fff;

        em {
            display: block;
            font-size: 27px;
        }

        span {
            display: block;
            font-size: 0.6rem;
            text-transform: capitalize;
            margin-top: 3px;
        }
    }


    @media screen and (max-width: 768px) {

        .btn-item {
            width: 33.33%;
        }
    }

    .btn-item.active {

        em,
        span {
            color: var(--water-green);
        }
    }
}


.breadcrumb {
    background-color: #fff;
    font-family: montserratregular;
    font-size: 0.75rem;

    .breadcrumb-item {
        color: var(--blue);

        &:last-child {
            color: #6c757d;
        }

        &:not(:last-child) {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: var(--primary);

}

.btn-save {
    background-color: var(--primary);
    font-size: var(--default-text);
    color: #fff;
    text-transform: uppercase;
    border-radius: 32px;
}

.title-page{
    text-align: center;
    margin : 0px 0px 54px 0px;
    font-size: 30px;
    font-family: fontPrincipal;
    
}