@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1340px;
    }
}

.modal-backdrop {
    background-color: #0063af;
    opacity: 90% !important;
}

elgin-customer-detail-modal {
    .modal-header {
        padding: 1rem;
        border: none;

        .close {
            display: flex;
            align-items: center;
            cursor: pointer;

            small {
                margin: 0px 2px;
                font-size: 13px;
            }

            small:last-child {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                border: 1px solid;
                border-radius: 50%;
            }
        }
    }

    .modal-body {
        padding: 0rem 3rem 1rem 3rem;

        .nav-tabs {
            border-bottom: 2px solid var(--primary);
        }

        @media screen and (max-width: 425px) {
            .nav-tabs .nav-link {
                width: 100%;
                border-radius: 0 !important;
                margin: 0.35rem 0 !important;
            }
        }

        .nav-tabs .nav-link {
            margin: 0rem 0.25rem;
            background-color: #F0F0F0;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            font-size: var(--sub-text);
            color: #333333 !important;
            border: 0 !important;
        }

        .nav-tabs .nav-link.active {
            background-color: var(--primary);
            color: #fff !important;
        }
    }

    .modal-footer {
        justify-content: center !important;

        .btn-custom {
            font-size: var(--sub-text);
            text-transform: uppercase;
            color: #ffffff;
            border-radius: 32px;
            background-color: var(--primary);
        }
    }
}