<p class="title">Incluir Produto</p>

<div class="product-types">
    <span *ngFor="let item of elginProducts; let i = index" [ngClass]="{active: selectedItem == i}"
        (click)="navigate(i, item)">{{item.linha}}</span>
</div>

<div *ngIf="selectedItem == 0" class="elgin-products-container">
    <div class="add-product-button" (click)="openAddProductLineModal()">
        <em class="fas fa-server"></em>
        <em class="fas fa-plus"></em>
        <span>adicionar linha</span>
    </div>

    <div *ngFor="let elginProduct of elginProducts[0]?.produtosTipo; let i = index"
        [ngClass]="{active: selectedProduct == i}" (click)="selectProduct(i, elginProduct)" class="elgin-products">
        <img [src]="elginProduct?.thumbnail" alt="elginProduct" class="item-thumbnail">
        <span>{{ elginProduct?.tipo }}</span>
    </div>
    <hr>
</div>

<div class="product-specs" *ngIf="productSelected">
    <div class="segments">
        <span>{{ productLine.linha }}</span>
        <span>{{ productType.tipo }}</span>
    </div>

    <div class="card product">
        <div class="card-body">
            <div class="thumb col-md-2">
                <div class="thumb-frame">
                    <img [src]="url" alt="">
                </div>
                <input type="file" accept="image/*" (change)="selectFile($event)" hidden #file>
                <button class="btn btn-custom" (click)="file.click()">upload de imagem</button>
            </div>

            <div class="product-info col-md-8">
                <div class="form-row">
                    <div class="form-group col-12 mb-2 mt-4 mt-md-0">
                        <span class="prod-cod">Código do pedido: 012184518484</span>
                    </div>
                    <div class="form-group col-12">
                        <label for="area">Área</label>
                        <select class="custom-select" id="area">
                            <option value="">Dimacon</option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label for="desc">Descrição</label>
                        <input type="text" id="desc" class="form-control" [value]="productType.produtos[0].desc">
                    </div>
                    <div class="form-group col-md-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="isMultProduct"
                                (change)="isMultiple($event)">
                            <label class="custom-control-label" for="isMultProduct">Multiplo de Produtos</label>
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <select class="custom-select" id="multiProd" [disabled]="!isMult">
                            <option value="">60</option>
                        </select>
                    </div>
                    <div class="form-group col-md-auto">
                        <button class="btn btn-custom w-100" (click)="openProductDetailModal()">Adicionar
                            Detalhes</button>
                    </div>
                    <div class="form-group col-md-auto">
                        <button class="btn btn-custom w-100" (click)="openOrderTypesModal()">Tipo de Pedidos</button>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="isSimilar"
                                (change)="openSimilarProductModal($event)">
                            <label class="custom-control-label" for="isSimilar">Possui produto similar?</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="finish col-md-2">
                <div class="finish-button">
                    <em class="fas fa-box-open"></em>
                    <em class="fas fa-plus"></em>
                    <span>adicionar</span>
                </div>

                <span class="badge btn-deliver" *ngIf="productType.produtos[0].prazo === 'pronta entrega'">
                    pronta entrega <em class="fas fa-truck"></em>
                </span>

                <span class="badge btn-analisys" *ngIf="productType.produtos[0].prazo === 'em análise'">
                    em analise<em class="fas fa-industry"></em>
                </span>

            </div>
        </div>
    </div>

    <div class="table-responsive includeds">
        <table class="table table-bordered table-sm" aria-describedby="included products table">

            <thead>
                <tr>
                    <th scope="col" class="text-center">Imagem</th>
                    <th scope="col">Cód.<em class="fas fa-search"></em></th>
                    <th scope="col">Área<em class="fas fa-search"></em></th>
                    <th scope="col">Descrição<em class="fas fa-search"></em></th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Excluir</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center">
                        <img src="../../../../../assets/artefacts/splithighwall.png" alt="imagem do produto"
                            class="img-thumbnail">
                    </td>
                    <td>0121540840847</td>
                    <td>
                        <span *ngIf="!enableEditArea else editArea">DIMACON</span>
                        <ng-template #editArea>
                            <select id="area" class="custom-select">
                                <option value="DIMACON">DIMACON</option>
                            </select>
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!enableEditArea else editDesc">UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH</span>
                        <ng-template #editDesc>
                            <input type="text" class="form-control" value="N.EXT.HW INVERTER TREND,18K,QF, 220V,1PH">
                        </ng-template>

                    </td>
                    <td class="text-center">
                        <span class="badge btn-deliver">pronta entrega<em class="fas fa-truck"></em></span>
                    </td>
                    <td class="text-center">
                        <em class="fas fa-pen fa-lg" (click)="enableEditArea = !enableEditArea"
                            *ngIf="!enableEditArea else saveButton"></em>
                        <ng-template #saveButton>
                            <button class="btn btn-edit" (click)="enableEditArea = !enableEditArea">salvar</button>
                        </ng-template>
                    </td>
                    <td class="text-center"><em class="fas fa-times-circle fa-lg"></em></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>