<div class="px-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <span class="title">Cadastro de Assistentes</span>

        <div class="action-buttons">
            <button class="btn btn-upload">UPLOAD DE ARQUIVO</button>
            <button class="btn btn-download">DOWNLOAD MODELO EM EXECEL <em class="far fa-file-excel"></em></button>
        </div>
    </div>

    <form>
        <div class="form-row align-items-end">
            <div class="form-group col-md-3">
                <label for="assistantCpf">CPF</label>
                <input id="assistantCpf" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="assistantRg">RG</label>
                <input id="assistantRg" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="assistantArea">Área</label>
                <select id="assistantArea" class="custom-select">
                    <option value="">Refrigeração Nacional</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="assistantRepresentative">Representante</label>
                <select id="assistantRepresentative" class="custom-select">
                    <option value="">FABRICIO FIORI - ME</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="assistantName">Nome</label>
                <input id="assistantName" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="assistantCep">CEP</label>
                <input id="assistantCep" class="form-control" type="text">
            </div>
            <div class="form-group col-md-5">
                <label for="assistantAddress">Logradouro</label>
                <input id="assistantAddress" class="form-control" type="text">
            </div>
            <div class="form-group col-md-2">
                <label for="assistantAddressNumber">Número</label>
                <input id="assistantAddressNumber" class="form-control" type="text">
            </div>
            <div class="form-group col-md-2">
                <label for="assistantAddressComplement">Complemento</label>
                <input id="assistantAddressComplement" class="form-control" type="text">
            </div>

            <div class="form-group col-md-5">
                <label for="assistantAddressNeighborhood">Bairro</label>
                <input id="assistantAddressNeighborhood" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="assistantAddressState">UF</label>
                <select id="assistantAddressState" class="custom-select">
                    <option value="">RJ</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="assistantAddressCity">Cidade</label>
                <select id="assistantAddressCity" class="custom-select">
                    <option value="">SAO SEBASTIAO</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="assistantEmail">E-mail</label>
                <input id="assistantEmail" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="assistantAlternativeEmail">E-mail Alternativo</label>
                <input id="assistantAlternativeEmail" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="assistantFixedTel">Telefone Fixo</label>
                <input id="assistantFixedTel" class="form-control" type="text">
            </div>
            <div class="form-group col-md-3">
                <label for="assistantMobileTel">Telefone Celular</label>
                <input id="assistantMobileTel" class="form-control" type="text">
            </div>
        </div>

        <div class="text-center my-5">
            <button class="btn btn-save">INCLUIR</button>
        </div>
    </form>

    <hr>

    <div class="table-responsive my-4">
        <p>Assitentes Cadastrados</p>
        <table class="table table-bordered table-sm" aria-describedby="orders table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Data</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Representante</th>
                    <th scope="col">Área</th>
                    <th scope="col" class="text-center">Cidade/Estado</th>
                    <th scope="col" class="text-center">Visualizar</th>
                    <th scope="col" class="text-center">Editar</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center">10/02/20</td>
                    <td>LUCIANA WICHINESKI SANTOS</td>
                    <td>Fabricio FIORI - ME</td>
                    <td>Refrigeração Nacional</td>
                    <td>São Sebastião/RJ</td>
                    <td class="text-center">
                        <button class="btn btn-custom">visualizar</button>
                    </td>
                    <td class="text-center">
                        <button class="btn" (click)="openAssistantsEditModal()"><em class="fas fa-pen"></em></button>
                    </td>
                </tr>

                <tr>
                    <td class="text-center">10/02/20</td>
                    <td>CARLOS PEREIRA SANTOS</td>
                    <td>Fabricio FIORI - ME</td>
                    <td>Refrigeração Nacional</td>
                    <td>São Sebastião/RJ</td>
                    <td class="text-center">
                        <button class="btn btn-custom">visualizar</button>
                    </td>
                    <td class="text-center">
                        <button class="btn" (click)="openAssistantsEditModal()"><em class="fas fa-pen"></em></button>
                    </td>
                </tr>

                <tr>
                    <td class="text-center">10/02/20</td>
                    <td>JOANA CALLIU</td>
                    <td>Fabricio FIORI - ME</td>
                    <td>Refrigeração Nacional</td>
                    <td>Guarujá/SP</td>
                    <td class="text-center">
                        <button class="btn btn-custom">visualizar</button>
                    </td>
                    <td class="text-center">
                        <button class="btn" (click)="openAssistantsEditModal()"><em class="fas fa-pen"></em></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>