<div class="modal-header">
    <div class="close" (click)="activeModal.dismiss()">
        <small>fechar</small>
        <small aria-hidden="true">&times;</small>
    </div>
</div>

<div class="modal-body">
    <p class="title">Produtos Similares</p>

    <div class="similars">
        <div class="products">
            <div>
                <div class="thumb">
                    <img [src]="elginProducts[0]?.produtosTipo[3]?.produtos[0]?.imagem" alt="imagem do produto"
                        class="img-thumbnail">
                    <span>{{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.cod}}</span>
                </div>
            </div>
            <div><span>{{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.desc}}</span></div>
            <div><span>{{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.estoque}}</span></div>
            <div>
                <em class="fas fa-2x"
                    [ngClass]="{
                    'fa-truck text-success' : elginProducts[0]?.produtosTipo[3]?.produtos[0]?.prazo === 'pronta entrega',
                    'fa-industry text-warning' : elginProducts[0]?.produtosTipo[3]?.produtos[0]?.prazo === 'em análise'}"></em>
                <span>{{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.prazo}}</span>
            </div>
        </div>

        <div *ngIf="!isEdit">
            <span class="txt-1">Comparativo do produto similar</span>

            <hr class="mt-0">

            <small class="d-block text-center txt-2">Adicione os modelos similares:</small>

            <div class="table-responsive">
                <table class="table table-sm table-hover" aria-describedby="comparativo entre produtos">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div>Funções</div>
                            </th>
                            <th scope="col">
                                <div>
                                    <span class="title">Produto</span>
                                    <div class="thumb">
                                        <img [src]="elginProducts[0]?.produtosTipo[3]?.produtos[0]?.imagem"
                                            alt="imagem do produto" class="img-thumbnail">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="product1" checked>
                                            <label class="custom-control-label"
                                                for="product1">{{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.cod}}</label>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div>
                                    <span class="title">Similar 01</span>
                                    <div class="thumb">
                                        <img [src]="elginProducts[0]?.produtosTipo[3]?.produtos[0]?.imagem"
                                            alt="imagem do produto" class="img-thumbnail">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="product2" checked>
                                            <label class="custom-control-label"
                                                for="product2">{{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.cod}}</label>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div>
                                    <span class="title">Similar 02</span>
                                    <div class="thumb">
                                        <img [src]="elginProducts[0]?.produtosTipo[3]?.produtos[0]?.imagem"
                                            alt="imagem do produto" class="img-thumbnail">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="product3" checked>
                                            <label class="custom-control-label"
                                                for="product3">{{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.cod}}</label>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div>
                                    <span class="title">Similar 03</span>
                                    <div class="thumb">
                                        <img [src]="elginProducts[0]?.produtosTipo[3]?.produtos[0]?.imagem"
                                            alt="imagem do produto" class="img-thumbnail">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="product4" checked>
                                            <label class="custom-control-label"
                                                for="product4">{{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.cod}}</label>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                    <label class="custom-control-label" for="customCheck1">Air Swinger</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                                    <label class="custom-control-label" for="customCheck2">Funcão
                                        Limpeza(Evaporador)</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3" checked>
                                    <label class="custom-control-label" for="customCheck3">Auto Restart</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                                    <label class="custom-control-label" for="customCheck4">Baixo Nível de Ruído</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck5" checked>
                                    <label class="custom-control-label" for="customCheck5">BTU/h 9.000/ 12.000/ 18.000/
                                        24.000/ 30.000</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck6" checked>
                                    <label class="custom-control-label" for="customCheck6">Classificação A
                                        INMETRO</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck7" checked>
                                    <label class="custom-control-label" for="customCheck7">Desumidificador</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck8" checked>
                                    <label class="custom-control-label" for="customCheck8">Display de
                                        Temperatura</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck9" checked>
                                    <label class="custom-control-label" for="customCheck9">Air Swinger</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck10" checked>
                                    <label class="custom-control-label" for="customCheck10">Filtros</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck11" checked>
                                    <label class="custom-control-label" for="customCheck11">Função Conforto</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck12" checked>
                                    <label class="custom-control-label" for="customCheck12">Display Digital</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck13" checked>
                                    <label class="custom-control-label" for="customCheck13">Ecológico</label>
                                </div>
                            </td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                            <td class="text-center">não <em class="fas fa-times text-danger"></em></td>
                            <td class="text-center">sim <em class="fas fa-check text-success"></em></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="add-similar">
                <button class="btn btn-add-similar" (click)="isEdit = !isEdit">Concluir</button>
            </div>
        </div>

        <div class="complete-process" *ngIf="isEdit">
            <span class="txt-1">Produtos Similares Adicionados</span>

            <hr class="mt-0">

            <div class="table-responsive">
                <table class="table table-sm table-hover" aria-describedby="comparativo entre produtos">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div>
                                    <span class="title">Produto</span>
                                    <div class="thumb">
                                        <img [src]="elginProducts[0]?.produtosTipo[3]?.produtos[0]?.imagem"
                                            alt="imagem do produto" class="img-thumbnail">
                                        <span>{{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.cod}}</span>
                                        <em class="far fa-eye ml-auto"></em>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div>
                                    <span class="title">Similar 01</span>
                                    <div class="thumb">
                                        <img [src]="elginProducts[0]?.produtosTipo[3]?.produtos[0]?.imagem"
                                            alt="imagem do produto" class="img-thumbnail">
                                        <span>
                                            {{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.cod}}
                                            <em class="fas fa-check text-success"></em>
                                        </span>
                                        <em class="far fa-eye ml-auto"></em>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div>
                                    <span class="title">Similar 02</span>
                                    <div class="thumb">
                                        <img [src]="elginProducts[0]?.produtosTipo[3]?.produtos[0]?.imagem"
                                            alt="imagem do produto" class="img-thumbnail">
                                        <span>
                                            {{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.cod}}
                                            <em class="fas fa-check text-success"></em>
                                        </span>
                                        <em class="far fa-eye ml-auto"></em>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div>
                                    <span class="title">Similar 03</span>
                                    <div class="thumb">
                                        <img [src]="elginProducts[0]?.produtosTipo[3]?.produtos[0]?.imagem"
                                            alt="imagem do produto" class="img-thumbnail">
                                        <span>
                                            {{elginProducts[0]?.produtosTipo[3]?.produtos[0]?.cod}}
                                            <em class="fas fa-check text-success"></em>
                                        </span>
                                        <em class="far fa-eye ml-auto"></em>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="edit-similar">
                <button class="btn btn-edit-similar"  (click)="isEdit = !isEdit">Editar Produtos</button>
            </div>
        </div>
    </div>
</div>