<div class="bg">

    <div class="card login">
        <div class="elgin-up-logo">
            <img src="../../../assets/images/logo-elgin-up1.png" alt="elgin up logo">
        </div>

        <div class="card-body">
            <form [formGroup]="formLogin">
                <div class="form-group" [class.has-danger]="hasErrorLogin('login')">
                    <label for="login">Login</label>
                    <input formControlName="login" (keydown.enter)="login()" type="text"class="form-control">
                </div>
                <div class="form-group" [class.has-danger]="hasErrorLogin('senha')">
                    <label for="password">Senha</label>
                    <input formControlName="senha" (keydown.enter)="login()" type="password" class="form-control">
                </div>
                <button (click) ="login();" type="submit" class="btn btn-primary" >entrar</button>
            </form>

            <a href="javascript:void(0)" routerLink="/" routerLinkActive="active">Esqueci a senha</a>
        </div>
    </div>
</div>