
<div class="bg">

    <div class="card login">
        <div class="elgin-up-logo">
            <img src="../../../assets/images/logo-elgin-up1.png" alt="elgin up logo">
        </div>

        <div class="card-body">
            <div class="caixa-loading" *ngIf="loading">
                <img class="loading"src="../../../assets/login.svg" alt="elgin up logo"> 
            </div>
            <div *ngIf="!trocaSenha">
            <form [formGroup]="formLogin" *ngIf="!loading" >
                <div class="form-group" [class.has-danger]="hasErrorLogin('login')">
                    <label for="login">Login</label>
                    <input formControlName="login" (keydown.enter)="login()" type="text" class="form-control" placeholder="">
                </div>
                <div class="form-group" [class.has-danger]="hasErrorLogin('senha')">
                    <label for="password">Senha</label>
                    <input formControlName="senha" (keydown.enter)="login()" type="password" class="form-control" placeholder="">
                </div>
                <button (click) ="login();" type="submit" class="btn btn-primary">entrar</button>
            </form>
            <div class="trocaSenha"  (click) ="trocaSenhaFunction();" *ngIf="!loading">
                <span>Esqueci a senha</span>
            </div>
        </div>
        <div *ngIf="trocaSenha">

            <div class="voltar"  (click) ="voltarFunction();" *ngIf="!loading">
                <span>Voltar</span>
            </div>
            <div  class="titulo" *ngIf="!loading">
                <span>Recuperar Senha</span>
            </div>


            <form [formGroup]="formResetar" class="form" *ngIf="!loading">
              
               
                 <div class="form-group"  [class.has-danger]="hasErrorResetar('login2')">
                    <label for="login2">Login</label>
                    <input formControlName="login2" (keydown.enter)="enviar()" type="text" class="form-control" placeholder="">
                </div> 
             <div class="form-group"  [class.has-danger]="hasErrorResetar('numeroDocumento')" >
                    <label for="NumeroDocumento">CPF/CNPJ</label>
                    <input formControlName="numeroDocumento"  (keydown.enter)="enviar()" type="text" class="form-control" placeholder="">
                </div>
                <div>
                    <button (click) ="enviar();" type="submit" class="btn btn-primary"  >enviar</button>
                </div>
             
            </form>

            </div>
     
        </div>
    </div>
</div>