<section>
    <div class="navigation">
        <div class="title">
            <em class="fas fa-box-open"></em>
            <span>Produtos</span>
        </div>
    </div>
</section>

<section>

    <div class="types-button">
        <button class="btn btn-item" *ngFor="let item of typeItems; let i = index"
            [ngClass]="{active: selectedItem == i}" (click)="navigate(i)">
            <em [class]=" item.icon"></em>
            <span>{{item.title}}</span>
        </button>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLink="../">Produtos</li>
            <!-- <li class="breadcrumb-item" routerLink="./" aria-current="page">Novo Pedido</li>
            <li class="breadcrumb-item" aria-current="page" *ngIf="hasRoute('vendanacional')">Venda Nacional</li> -->
        </ol>
    </nav>
</section>