
/*
.tooltip 
{
  position: relative;
  display: contents;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
 
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

*/

#mostrar {
  display: none;
  margin-left:30px;
  background-color: white;
  border: groove #f0f0f0;
  margin-top: -38px;
  border-radius: 5px;
  text-align: center;
  z-index: 99;
}

#group-message{
  margin-top: -24px;
}
.fa-question-circle{
  padding-bottom: 10px;
  color: #e6e617;
}
.posicao{
  margin-top: -30px;
}
#arrow {
    color: #e6e617;
    display:none;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    margin: 0px 0px 14px 20px;
    position: relative;
    border-right:10px solid; 
  }

  #passar_mouse:hover + #group-message  #arrow {
    display: block;
    position: absolute;
  } 

  #passar_mouse:hover + #group-message  #mostrar {
    display: block;
    position: absolute;
  } 

