    <div id="content">
        <span class="fas fa-question-circle" id="passar_mouse"></span>
        <div id="group-message">
                <div id="arrow"></div>
                <div id="mostrar"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit hendrerit molestie. Quisque ut venenatis nulla, ut ullamcorper mauris. Nulla vestibulum purus vitae dapibus sagittis. Fusce ac luctus nisi. Donec consequat augue sed ultrices dapibus. Integer ornare a velit non finibus. Suspendisse aliquam velit lectus, ut molestie sem vestibulum vitae. Donec vel dui tincidunt diam sollicitudin dignissim sit amet eget velit. </div>
        </div>   
    </div><br/>
    
        
    

