@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1340px;
    }
}

.modal-backdrop {
    background-color: #0063af;
    opacity: 90% !important;
}

elgin-vpc-customer-details {
    .modal-header {
        padding: 1rem;
        border: none;

        .close {
            display: flex;
            align-items: center;
            cursor: pointer;

            small {
                margin: 0px 2px;
                font-size: 13px;
            }

            small:last-child {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                border: 1px solid;
                border-radius: 50%;
            }
        }
    }

    .modal-body {
        padding: 0rem 3rem 1rem 3rem;

        .btn-include {
            background: #4BD37B;
            border-radius: 25px;
            color: #FFFFFF;
            font-size: var(--sub-text);
        }

        table {
            margin: 0;
            border-collapse: separate;
            border-spacing: 0 3px;
            border: 0;

            thead th {
                background-color: #265980;
                color: #fff;
                font-family: montserratregular;
                font-size: var(--sub-text);
                padding: .5rem;

                .fa-search {
                    padding: 4px;
                    float: right;
                    border-radius: 50%;
                    color: #265980;
                    background-color: #fff;
                    font-size: 11px;
                    cursor: pointer;

                    &::before {
                        margin-left: unset !important;
                    }
                }
            }

            tbody td:nth-child(1) {
                width: 50px;
            }

            @media screen and (max-width: 425px) {
                tbody td:not(:first-child) {
                    min-width: 160px;
                }
            }

            tbody td {
                font-family: montserratregular;
                font-size: 11px;
                color: var(--link);
                vertical-align: middle;

                .fa-pen,
                .fa-times-circle {
                    opacity: 0.8;
                    transition: 0.1s;

                    &:hover {
                        cursor: pointer;
                        opacity: 1;

                    }
                }

                .fa-pen {
                    color: var(--primary);
                }

                .fa-times-circle {
                    color: #FF0000;
                }
            }
        }
    }

    .modal-footer {
        justify-content: center !important;

        .btn-custom {
            font-size: var(--sub-text);
            text-transform: uppercase;
            color: #ffffff;
            border-radius: 32px;
            background-color: var(--primary);
        }
    }
}