<section>
    <p class="title"> Informações do Perfil </p>


    <div class="col col-md-12">
        <div class="row">
            <div class="col col-md-3">Username :</div>
            <div class="col col-md-2">{{ dataUser.unique_name }}</div>
        </div>
    </div>
        <div class="col col-md-12">
            <div class="row">
                <div class="col col-md-3">Nome:</div>
                <div class="col col-md-2">{{ dataUser.Login }}</div>
            </div>
        </div>
        <div class="col col-md-12">
            <div class="row">
                <div class="col col-md-3">Email :</div>
                <div class="col col-md-2">{{ dataUser.email }}</div>
            </div>
        </div>
</section>
 