<section>
    <p class="title"> Informações do Perfil </p>

<hr>
    <div class="col col-md-12">
        <div class="row">
            <div class="col col-md-3 textoTitulo">Username :</div>
            <div class="col col-md-2 textoConteudo">{{ dataUser.unique_name }}</div>
        </div>
    </div>
        <div class="col col-md-12">
            <div class="row">
                <div class="col col-md-3 textoTitulo">Nome:</div>
                <div class="col col-md-2 textoConteudo">{{ dataUser.Login }}</div>
            </div>
        </div>
        <div class="col col-md-12">
            <div class="row">
                <div class="col col-md-3 textoTitulo">Email :</div>
                <div class="col col-md-2 textoConteudo">{{ dataUser.email }}</div>
            </div>
        </div>
</section>
 