.title {
    padding: 0 1rem;
    color: var(--primary);
}
.textoConteudo {
    padding: 11px 0;
    color: #1d212475;
    font-size: 14px;

}
.textoTitulo {
    padding: 10px 0 10px 20px;
    color: rgb(44, 43, 44);
    font-size: 14px;
}