<section>
    <nav ngbNav #nav="ngbNav" class="nav-tabs">

        <ng-container ngbNavItem>
            <a ngbNavLink>Geral</a>
            <ng-template ngbNavContent>
                <elgin-general></elgin-general>
            </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
            <a ngbNavLink>Comissões</a>
            <ng-template ngbNavContent>
                <elgin-commission></elgin-commission>
            </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
            <a ngbNavLink>Objetivo de Vendas</a>
            <ng-template ngbNavContent>

            </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
            <a ngbNavLink>Assistentes</a>
            <ng-template ngbNavContent>
                <elgin-assistants></elgin-assistants>
            </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
            <a ngbNavLink>Cotas</a>
            <ng-template ngbNavContent>
                <elgin-quotas></elgin-quotas>
            </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
            <a ngbNavLink>Metas</a>
            <ng-template ngbNavContent>
                <elgin-goals></elgin-goals>
            </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
            <a ngbNavLink>Metas Vendedor</a>
            <ng-template ngbNavContent>
                <elgin-seller-goals></elgin-seller-goals>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
            <a ngbNavLink>Resumo</a>
            <ng-template ngbNavContent>
                <elgin-resume></elgin-resume>
            </ng-template>
        </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</section>