
<section>
    <div class="px-3">
        <p class="title" style="text-align: center;
        font-size: 25px;">Consulta Clientes </p>

        
        <div class="form-row align-items-end">
   

        
            <div class="form-group col-md-12 m-0 search">
                <!-- <em class="fas fa-search"></em> -->
                <label for="customerSearch">Buscar Cliente</label> 
                <!-- <infoPopover [description]="infoBuscar"></infoPopover> -->
                <input id="customerSearch" type="text" class="form-control" [(ngModel)]="searchCmp" placeholder="Nome ou Documento ou CodigoERP">
            </div>
          
        </div>

        <div class="action-buttons my-2">
            <div class="checkboxes-inline" >
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" [(ngModel)]="pessoaJuridica" class="custom-control-input" id="isJuridic">
                    <label class="custom-control-label" for="isJuridic">Pessoa Jurídica</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" [(ngModel)]="pessoaFisica" class="custom-control-input" id="isFisic">
                    <label class="custom-control-label" for="isFisic">Pessoa Física</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" [(ngModel)]="pessoaExportacao" class="custom-control-input" id="isExport">
                    <label class="custom-control-label" for="isExport">Cliente Exportação</label>
                </div>
            </div>
           
        <div class="text-center my-5">
            <button (click)="pesquisaCliente()" class="btn btn-save" style="float: right; margin-top: -17px;"><span class="fa-search fas"></span> Pesquisar </button>
        </div>
        </div>
        <div class="caixa" *ngIf="loading">
            <img class="loading"src="../../../assets/login.svg" alt="elgin up logo"> 
        </div>
        <div class="caixa" *ngIf="pesquisar" >
            <div class="sorry-texto">
            <label style="font-size: 16px;">{{infoPesquisa}}</label>
            </div>
            <div>
                <img _ngcontent-yav-c184="" style="width: 40%;" src="../../assets/artefacts/undraw_Taken_if77.svg" alt="pesquisa não encontrada" >
            </div>
            
        </div><br/><br/>

<div *ngIf = "show">
   
        <div class="action-buttons my-2">
            <button class="btn btn-export">EXPORTAR PARA EXCEL <em class="far fa-file-excel"></em></button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm" aria-describedby="orders table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col">Cliente<em class="fas fa-search"></em></th>
                        <th scope="col">Cód.Elgin UP<em class="fas fa-search"></em></th>
                        <th scope="col">Endereço <em class="fas fa-search"></em></th>
                        <th scope="col">País <em class="fas fa-search"></em></th>
                        <th scope="col">Área <em class="fas fa-search"></em></th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let pessoa of this.dataPesquisa.result.data">
                        <td class="text-center">{{ pessoa.id }}</td>
                        <td>{{ pessoa.nome }}</td>
                        <td>{{ pessoa.numeroDocumento }}</td>
                        <td>{{ pessoa?.endereco }}</td>
                        <td> lall </td>
                        <td>REFRIGERACAO NACIONAL</td>
                        <td class="text-center">{{ pessoa.ativo == true ? "Ativo" : "Inativo" }}</td>
                        <td class="text-center">
                            <button class="btn" (click)="openCustomerDetailModal()">
                                <em class="fas fa-eye"></em>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
        </div>
    </div>
    </div>
</section>