.title {
    font-size: 18px;
    color: var(--primary);
}

.action-buttons {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 425px) {

        .btn-upload,
        .btn-download {
            width: 100%;
            margin: 0.75rem 0rem !important;
        }
    }

    .btn-upload,
    .btn-download {
        font-size: var(--sub-text);
        margin: 0.5rem 0.35rem;
        border-radius: 32px;
    }

    .btn-upload {
        border: 1px solid;
        color: var(--primary);
    }

    .btn-download {
        border: 1px solid;
        color: #4DBF69;
    }
}

@media screen and (max-width: 425px) {
    label {
        font-size: 0.8rem !important;
        margin-bottom: 0.25rem !important;
    }
}

label {
    color: #6c757d !important;
    font-size: 0.7rem;
    margin-bottom: 0px;
}

.form-group span {
    font-size: var(--sub-text);
    color: var(--primary);
}

table {
    margin: 0;
    border-collapse: separate;
    border-spacing: 0 3px;
    border: 0;

    thead th {
        background-color: #265980;
        color: #fff;
        font-family: montserratregular;
        font-size: var(--sub-text);
        padding: .5rem;
    }

    tbody td.img {
        width: 50px;
    }

    @media screen and (max-width: 425px) {
        tbody td:not(:first-child) {
            min-width: 160px;
        }
    }

    tbody td {
        font-family: montserratregular;
        font-size: 11px;
        color: var(--link);
        vertical-align: middle;

        .fa-times-circle {
            opacity: 0.8;
            transition: 0.1s;

            &:hover {
                cursor: pointer;
                opacity: 1;

            }
        }

        .fa-times-circle {
            color: #FF0000;
        }
    }
}

.btn-save {
    min-width: 150px;
    background-color: #4BD37B;
    font-size: var(--sub-text);
    color: #ffffff;
    border-radius: 32px;
}