<div class="px-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <span class="title">Resumo</span>

        <div class="action-buttons">
            <button class="btn btn-upload">UPLOAD DE ARQUIVO</button>
            <button class="btn btn-download">DOWNLOAD MODELO EM EXECEL <em class="far fa-file-excel"></em></button>
        </div>
    </div>

    <span class="d-block text-center my-5">Confira o resumo de todos os itens adicionados até o final da página e clique
        em <span class="text-success">“salvar tudo”</span> para concluir o cadastro.</span>

    <form>
        <p class="mb-2">Geral</p>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="juridicFisic">Classificação de Pessoa Jurídica ou Física</label>
                <span id="juridicFisic" class="d-block">Pessoa Jurídica</span>
            </div>
            <div class="form-group col-md-2">
                <label for="commissionedCode">Cód. Comissionado</label>
                <span id="commissionedCode" class="d-block">1420</span>
            </div>
            <div class="form-group col-md-2">
                <label for="commissionedCodeErp">Cód. Comissionado ERP</label>
                <span id="commissionedCodeErp" class="d-block">0005046074</span>
            </div>
            <div class="form-group col-md-4">
                <label for="area">Área</label>
                <span id="area" class="d-block">Elgin</span>
            </div>
            <div class="form-group col-md-1">
                <label for="status">Status</label>
                <span id="status" class="d-block">Ativo</span>
            </div>
            <div class="form-group col-md-3">
                <label for="cnpj">CNPJ</label>
                <span id="cnpj" class="d-block">16.609.504/0001-43</span>
            </div>
            <div class="form-group col-md-6">
                <label for="companyName">Razão Social</label>
                <span id="companyName" class="d-block">FABRICIO FIORI - ME (0005046446)</span>
            </div>
            <div class="form-group col-md-3">
                <label for="representativeName">Nome do Representante</label>
                <span id="representativeName" class="d-block">FABRICIO HENRIQUE MARQUES Castseg Garça</span>
            </div>
            <div class="form-group col-md-3">
                <label for="representativeCep">CEP</label>
                <span id="representativeCep" class="d-block">17400-000</span>
            </div>
            <div class="form-group col-md-6">
                <label for="representativeAddress">Logradouro</label>
                <span id="representativeAddress" class="d-block">R ANTONIO AVILA CASTRO</span>
            </div>
            <div class="form-group col-md-1">
                <label for="representativeNumber">Número</label>
                <span id="representativeNumber" class="d-block">56</span>
            </div>
            <div class="form-group col-md-2">
                <label for="representativeComplement">Complemento</label>
                <span id="representativeComplement" class="d-block"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="representativeNeighborhood">Bairro</label>
                <span id="representativeNeighborhood" class="d-block">ALTO CAFEZAL</span>
            </div>
            <div class="form-group col-md-6">
                <label for="representativeState">UF</label>
                <span id="representativeState" class="d-block">SP</span>
            </div>
            <div class="form-group col-md-3">
                <label for="representativeCity">Cidade</label>
                <span id="representativeCity" class="d-block">Graça</span>
            </div>
            <div class="form-group col-md-3">
                <label for="representativeEmail">E-mail</label>
                <span id="representativeEmail" class="d-block">rafaeljpedrozo@gmail.com</span>
            </div>
            <div class="form-group col-md-3">
                <label for="representativeAlternativeEmail">E-mail Alternativo</label>
                <span id="representativeAlternativeEmail" class="d-block">rafaeljpedrozo@gmail.com</span>
            </div>
            <div class="form-group col-md-3">
                <label for="representativeFixedTel">Telefone Fixo</label>
                <span id="representativeFixedTel" class="d-block">(14) 3737-0069</span>
            </div>
            <div class="form-group col-md-3">
                <label for="representativeMobileTel">Telefone Celular</label>
                <span id="representativeMobileTel" class="d-block">(14) 98410-640</span>
            </div>
        </div>

        <p class="mt-4 mb-2">Setor</p>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="sectorArea">Área</label>
                <span id="sectorArea" class="d-block">Elgin</span>
            </div>
            <div class="form-group col-md-3">
                <label for="sectorLine">Linha</label>
                <span id="sectorLine" class="d-block">REFRIGERAÇÃO(17REFRI)</span>
            </div>
            <div class="form-group col-md-3">
                <label for="sectorSubLine">Sub-Linha</label>
                <span id="sectorSubLine" class="d-block">Refrigeração</span>
            </div>
            <div class="form-group col-md-3">
                <label for="sectorStock">Estoque</label>
                <span id="sectorStock" class="d-block">ELGIN</span>
            </div>
        </div>

        <p class="mt-4 mb-2">Gerente Responsável</p>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="managerCpf">CPF</label>
                <span id="managerCpf" class="d-block">452.524.352-04</span>
            </div>
            <div class="form-group col-md-9">
                <label for="managerName">Nome do Representante</label>
                <span id="managerName" class="d-block">FABRICIO HENRIQUE MARQUES Castseg Garça</span>
            </div>
            <div class="form-group col-md-3">
                <label for="managerCep">CEP</label>
                <span id="managerCep" class="d-block">17400-000</span>
            </div>
            <div class="form-group col-md-6">
                <label for="managerAddress">Logradouro</label>
                <span id="managerAddress" class="d-block">R ANTONIO AVILA CASTRO</span>
            </div>
            <div class="form-group col-md-1">
                <label for="managerNumber">Número</label>
                <span id="managerNumber" class="d-block">56</span>
            </div>
            <div class="form-group col-md-2">
                <label for="managerComplement">Complemento</label>
                <span id="managerComplement" class="d-block"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="managerNeighborhood">Bairro</label>
                <span id="managerNeighborhood" class="d-block">ALTO CAFEZAL</span>
            </div>
            <div class="form-group col-md-6">
                <label for="managerState">UF</label>
                <span id="managerState" class="d-block">SP</span>
            </div>
            <div class="form-group col-md-3">
                <label for="managerCity">Cidade</label>
                <span id="managerCity" class="d-block">Graça</span>
            </div>
            <div class="form-group col-md-3">
                <label for="managerEmail">E-mail</label>
                <span id="managerEmail" class="d-block">rafaeljpedrozo@gmail.com</span>
            </div>
            <div class="form-group col-md-3">
                <label for="managerAlternativeEmail">E-mail Alternativo</label>
                <span id="managerAlternativeEmail" class="d-block">rafaeljpedrozo@gmail.com</span>
            </div>
            <div class="form-group col-md-3">
                <label for="managerFixedTel">Telefone Fixo</label>
                <span id="managerFixedTel" class="d-block">(14) 3737-0069</span>
            </div>
            <div class="form-group col-md-3">
                <label for="managerMobileTel">Telefone Celular</label>
                <span id="managerMobileTel" class="d-block">(14) 98410-640</span>
            </div>
        </div>

        <p class="mt-4 mb-2">Comissões</p>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="commissionData">Data Base de Comissão</label>
                <span id="commissionData" class="d-block">01/12/2020</span>
            </div>
            <div class="form-group col-md-1">
                <label for="commissionArea">Área</label>
                <span id="commissionArea" class="d-block">Elgin</span>
            </div>
            <div class="form-group col-md-3">
                <label for="commissionRepresentative">Representante</label>
                <span id="commissionRepresentative" class="d-block">FABRICIO FIORI - ME (0005046446)</span>
            </div>
            <div class="form-group col-md-3">
                <label for="commissionLine">Linha</label>
                <span id="commissionLine" class="d-block">REFRIGERAÇÃO(17REFRI)</span>
            </div>
            <div class="form-group col-md-3">
                <label for="commissionSubLine">Sub Linha</label>
                <span id="commissionSubLine" class="d-block">BOMBA REMOÇÃO ITAJAÍ(105REF071)</span>
            </div>
            <div class="form-group col-md-2">
                <label for="managerComplement">País</label>
                <span id="managerComplement" class="d-block">Brasil</span>
            </div>
            <div class="form-group col-md-1">
                <label for="managerNeighborhood">Estado</label>
                <span id="managerNeighborhood" class="d-block">SP</span>
            </div>
            <div class="form-group col-md-2">
                <label for="managerState">Cidade</label>
                <span id="managerState" class="d-block">São Paulo</span>
            </div>
            <div class="form-group col-md-2">
                <label for="managerCity">Produtos</label>
                <span id="managerCity" class="d-block">Todos</span>
            </div>
            <div class="form-group col-md-1">
                <label for="managerEmail">Comissão</label>
                <span id="managerEmail" class="d-block">4,0000%</span>
            </div>
            <div class="form-group col-md-2">
                <label for="managerAlternativeEmail">Início da Vigência</label>
                <span id="managerAlternativeEmail" class="d-block">01/01/2019</span>
            </div>
            <div class="form-group col-md-2">
                <label for="managerFixedTel">Término da Vigência</label>
                <span id="managerFixedTel" class="d-block">01/12/2020</span>
            </div>
        </div>
    </form>

    <hr>

    <p class="mt-4 mb-2">Objetivos de Venda</p>
    <div class="table-responsive my-3">
        <table class="table table-bordered table-sm" aria-describedby="orders table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Produto</th>
                    <th scope="col" class="text-center">Área</th>
                    <th scope="col" class="text-center">Representante</th>
                    <th scope="col" class="text-center">Margem</th>
                    <th scope="col" class="text-center">Objetivos</th>
                    <th scope="col" class="text-center">Metas</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center">Ar Condicionado</td>
                    <td class="text-center">Refrigeração</td>
                    <td class="text-center">Fabricio FIORI - ME</td>
                    <td class="text-center">4,0000%</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <p class="mt-4 mb-2">Assistentes</p>
    <div class="table-responsive my-3">
        <table class="table table-bordered table-sm" aria-describedby="orders table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Data</th>
                    <th scope="col" class="text-center">Nome</th>
                    <th scope="col" class="text-center">Representante</th>
                    <th scope="col" class="text-center">Área</th>
                    <th scope="col" class="text-center">Cidade/Estado</th>
                    <th scope="col" class="text-center">E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">10/02/20</td>
                    <td class="text-center">LUCIANA WICHINESKI SANTOS</td>
                    <td class="text-center">Fabricio FIORI - ME</td>
                    <td class="text-center">Refrigeração Nacional</td>
                    <td class="text-center">São Sebastião/RJ</td>
                    <td class="text-center">lucianaw@gmail.com</td>
                </tr>
                <tr>
                    <td class="text-center">10/02/20</td>
                    <td class="text-center">CARLOS PEREIRA SANTOS</td>
                    <td class="text-center">Fabricio FIORI - ME</td>
                    <td class="text-center">Refrigeração Nacional</td>
                    <td class="text-center">Guarujá/SP</td>
                    <td class="text-center">carlos@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <p class="mt-4 mb-2">Cotas de Produtos por Área / Gerente</p>

    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="productQuota">Período - Mês/Ano</label>
            <span id="productQuota" class="d-block">01/2020</span>
        </div>
        <div class="form-group col-md-3">
            <label for="productArea">Área</label>
            <span id="productArea" class="d-block">El06 - Elgin Ind. Fábrica Manaus</span>
        </div>
        <div class="form-group col-md-2">
            <label for="productCanal">Canal</label>
            <span id="productCanal" class="d-block">Todos</span>
        </div>
        <div class="form-group col-md-2">
            <label for="product">Produto</label>
            <span id="product" class="d-block">Ar condicionado</span>
        </div>
        <div class="form-group col-md-2">
            <label for="productStock">Estoque</label>
            <span id="productStock" class="d-block">Todos</span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-sm" aria-describedby="included products table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Imagem</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Área / Estoque</th>
                    <th scope="col" class="text-center">Qtd.</th>
                    <th scope="col" class="text-center">Período</th>
                    <th scope="col" class="text-center">Gerente</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center img">
                        <img src="../../../../../assets/artefacts/splithighwall.png" alt="imagem do produto"
                            class="img-thumbnail">
                    </td>
                    <td>
                        <div class="form-group m-0">
                            <label>Cód/ Descrição: </label>
                            <span class="d-block text-dark">45HTQE18B2NA</span>
                            <span class="d-block">UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH</span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group m-0">
                            <span class="d-block">Refrigeração Nacional</span>
                            <span class="d-block text-dark">5 - EI06 - Elgin Ind.Fabrica Manaus</span>
                        </div>
                    </td>
                    <td class="text-center">200</td>
                    <td class="text-center">01/2020</td>
                    <td class="text-center">Paulo José</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <p class="mt-4 mb-2">Metas Representante</p>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="goalRepresentativeName">Representante</label>
            <span id="goalRepresentativeName" class="d-block">José</span>
        </div>
        <div class="form-group col-md-3">
            <label for="goalRepresentativeArea">Área</label>
            <span id="goalRepresentativeArea" class="d-block">El06 - Elgin Ind. Fábrica Manaus</span>
        </div>
        <div class="form-group col-md-1">
            <label for="goalRepresentativeDate">Período - Mês/Ano</label>
            <span id="goalRepresentativeDate" class="d-block">01/2020</span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-sm" aria-describedby="included products table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Imagem</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Linha/Sublinha</th>
                    <th scope="col" class="text-center">Escritório</th>
                    <th scope="col" class="text-center">Estado/Cidade</th>
                    <th scope="col" class="text-center">País</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center img">
                        <img src="../../../../../assets/artefacts/splithighwall.png" alt="imagem do produto"
                            class="img-thumbnail">
                    </td>
                    <td>
                        <div class="form-group m-0">
                            <label>Cód/ Descrição: </label>
                            <span class="d-block text-dark">45HTQE18B2NA</span>
                            <span class="d-block">UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH</span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group m-0">
                            <span class="d-block">Ar-condicionado</span>
                            <span class="d-block text-dark">Ar-Condicionado</span>
                        </div>
                    </td>
                    <td class="text-center">Elgin/SP</td>
                    <td>
                        <div class="form-group m-0">
                            <span class="d-block">São Paulo</span>
                            <span class="d-block text-dark">São Paulo</span>
                        </div>
                    </td>
                    <td class="text-center">Brasil</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <p class="mt-4 mb-2">Metas Vendedor</p>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="goalArea">Área</label>
            <span id="goalArea" class="d-block">El06 - Elgin Ind. Fábrica Manaus</span>
        </div>
        <div class="form-group col-md-1">
            <label for="goalDate">Período - Mês/Ano</label>
            <span id="goalDate" class="d-block">01/2020</span>
        </div>
        <div class="form-group col-md-1">
            <label for="goalCanal">Canal</label>
            <span id="goalCanal" class="d-block">Elgin</span>
        </div>
        <div class="form-group col-md-3">
            <label for="goalDesc">Descrição</label>
            <span id="goalDesc" class="d-block">UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH</span>
        </div>
        <div class="form-group col-md-2">
            <label for="goalProductGroup">Grupo de Produtos</label>
            <span id="goalProductGroup" class="d-block">Ar Condicionado</span>
        </div>
        <div class="form-group col-md-1">
            <label for="goal">Meta</label>
            <span id="goal" class="d-block">0.923</span>
        </div>
        <div class="form-group col-md-1">
            <label for="goalRealized">Realizado</label>
            <span id="goalRealized" class="d-block">0.52</span>
        </div>
        <div class="form-group col-md-1">
            <label for="goalPercentage">Percentual</label>
            <span id="goalPercentage" class="d-block">0.006%</span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-sm" aria-describedby="included products table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Imagem</th>
                    <th scope="col">Grupo de Produtos / Descrição </th>
                    <th scope="col" class="text-center">Canal</th>
                    <th scope="col" class="text-center">Meta</th>
                    <th scope="col" class="text-center">Realizado</th>
                    <th scope="col" class="text-center">Percentual</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center img">
                        <img src="../../../../../assets/artefacts/splithighwall.png" alt="imagem do produto"
                            class="img-thumbnail">
                    </td>
                    <td>
                        <div class="form-group m-0">
                            <span class="d-block text-dark">Ar-condicionado</span>
                            <span class="d-block">UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH</span>
                        </div>
                    </td>
                    <td class="text-center">Elgin</td>
                    <td class="text-center">0.0100</td>
                    <td class="text-center">0.00</td>
                    <td class="text-center">0,097%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div class="text-center my-5">
        <button class="btn btn-save">Salvar Tudo</button>
    </div>
</div>