<div class="modal-header">
    <div class="close" (click)="activeModal.dismiss()">
        <small>fechar</small>
        <small aria-hidden="true">&times;</small>
    </div>
</div>

<div class="modal-body">
    <p>Tipos de Pedido do Produto</p>

    <div class="form-row">
        <div class="form-group col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" aria-describedby="product order type table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="export1"
                                        (change)="isExportSelected = !isExportSelected">
                                    <label class="custom-control-label" for="export1"></label>
                                </div>
                            </th>
                            <th scope="col">Pedido de Venda para Exportação</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="export2"
                                        [checked]="isExportSelected">
                                    <label class="custom-control-label" for="export2"></label>
                                </div>
                            </td>
                            <td>ZVME - Venda Estoque-ME</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" aria-describedby="product order type table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="serviceSelling1"
                                        (change)="isServiceSellingSelected = !isServiceSellingSelected">
                                    <label class="custom-control-label" for="serviceSelling1"></label>
                                </div>
                            </th>
                            <th scope="col">Pedido de Venda de Serviço</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector"
                                        id="serviceSelling2" [checked]="isServiceSellingSelected">
                                    <label class="custom-control-label" for="serviceSelling2"></label>
                                </div>
                            </td>
                            <td> ZVSE - Vda.Serviço</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" aria-describedby="product order type table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="contract1"
                                        (change)="isContractSelected = !isContractSelected">
                                    <label class="custom-control-label" for="contract1"></label>
                                </div>
                            </th>
                            <th scope="col">Contrato</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="contract2"
                                        [checked]="isContractSelected">
                                    <label class="custom-control-label" for="contract2"></label>
                                </div>
                            </td>
                            <td>ZCQT - Contrato do Quantidade</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" aria-describedby="product order type table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="selling1"
                                        (change)="isSellingSelected = !isSellingSelected">
                                    <label class="custom-control-label" for="selling1"></label>
                                </div>
                            </th>
                            <th scope="col">Pedido de Venda</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="selling2"
                                        [checked]="isSellingSelected">
                                    <label class="custom-control-label" for="selling2"></label>
                                </div>
                            </td>
                            <td>ZVIN - Vda.Intercompany</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="selling3"
                                        [checked]="isSellingSelected">
                                    <label class="custom-control-label" for="selling3"></label>
                                </div>
                            </td>
                            <td>ZVAT - Vda.Ativo</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="selling4"
                                        [checked]="isSellingSelected">
                                    <label class="custom-control-label" for="selling4"></label>
                                </div>
                            </td>
                            <td>ZVSC - Vda.Série-C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" aria-describedby="product order type table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="distReq1"
                                        (change)="isDistReqSelected = !isDistReqSelected">
                                    <label class="custom-control-label" for="distReq1"></label>
                                </div>
                            </th>
                            <th scope="col">Requisição de Distribuição</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="distReq2"
                                        [checked]="isDistReqSelected">
                                    <label class="custom-control-label" for="distReq2"></label>
                                </div>
                            </td>
                            <td>ZVDE - Demonstração</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="distReq3"
                                        [checked]="isDistReqSelected">
                                    <label class="custom-control-label" for="distReq3"></label>
                                </div>
                            </td>
                            <td> ZNCR - Nota de Crédito</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="distReq4"
                                        [checked]="isDistReqSelected">
                                    <label class="custom-control-label" for="distReq4"></label>
                                </div>
                            </td>
                            <td>ZVSR - Simples Remessa</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="distReq5"
                                        [checked]="isDistReqSelected">
                                    <label class="custom-control-label" for="distReq5"></label>
                                </div>
                            </td>
                            <td>ZVA2 - Rem.Adiantamento</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" aria-describedby="product order type table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="devolution1"
                                        (change)="isDevolutionSelected = !isDevolutionSelected">
                                    <label class="custom-control-label" for="devolution1"></label>
                                </div>
                            </th>
                            <th scope="col">Devolução</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="devolution2"
                                        [checked]="isDevolutionSelected">
                                    <label class="custom-control-label" for="devolution2"></label>
                                </div>
                            </td>
                            <td>ZRBN - Ret.Vda BNDES</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="devolution3"
                                        [checked]="isDevolutionSelected">
                                    <label class="custom-control-label" for="devolution3"></label>
                                </div>
                            </td>
                            <td>ZRMI - Ret.Estoque-MI</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="devolution4"
                                        [checked]="isDevolutionSelected">
                                    <label class="custom-control-label" for="devolution4"></label>
                                </div>
                            </td>
                            <td>ZRTN - Ret. Troca Nota</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="devolution5"
                                        [checked]="isDevolutionSelected">
                                    <label class="custom-control-label" for="devolution5"></label>
                                </div>
                            </td>
                            <td>ZDMI - Dev.Estoque-MI</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="devolution6"
                                        [checked]="isDevolutionSelected">
                                    <label class="custom-control-label" for="devolution6"></label>
                                </div>
                            </td>
                            <td>ZRA1 - Ret.Vda.Adiantamento</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selector" id="devolution7"
                                        [checked]="isDevolutionSelected">
                                    <label class="custom-control-label" for="devolution7"></label>
                                </div>
                            </td>
                            <td>ZRCV - Ret.Consig.Venda</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-custom" (click)="activeModal.close('Close click')">Fechar</button>
    </div>