@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1340px;
    }
}

.modal-backdrop {
    background-color: #0063af;
    opacity: 90% !important;
}

.modal-header {
    padding: 1rem;
    border: none;

    .close {
        display: flex;
        align-items: center;
        cursor: pointer;

        small {
            margin: 0px 2px;
            font-size: 13px;
        }

        small:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
            border: 1px solid;
            border-radius: 50%;
        }
    }
}

elgin-order-types-modal {

    table {
        margin: 0 !important;
        border-collapse: separate;
        border-spacing: 0 3px;
        border: 0;

        thead th {
            background-color: #265980;
            color: #fff;
            font-family: montserratregular;
            font-size: var(--sub-text);
            padding: .5rem;
        }

        tbody td {
            // min-width: 220px;
            font-family: montserratregular;
            font-size: 11px;
            color: var(--link);
            vertical-align: middle;
        }
    }

    .modal-body {
        padding: 0rem 3rem 1rem 3rem;
    }

    .modal-footer {
        justify-content: center !important;

        .btn-custom {
            background-color: var(--primary);
            color: #ffffff;
            border-radius: 32px;
        }
    }
}