<div class="modal-header">
    <div class="close" (click)="activeModal.dismiss()">
        <small>fechar</small>
        <small aria-hidden="true">&times;</small>
    </div>
</div>

<div class="modal-body">
    <p>Alberto Portenho Inc 0120111 </p>

    <nav ngbNav #nav="ngbNav" class="nav-tabs">

        <ng-container ngbNavItem>
            <a ngbNavLink>Clientes</a>
            <ng-template ngbNavContent>
                <elgin-regular-customer-detail></elgin-regular-customer-detail>
            </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
            <a ngbNavLink>VPC</a>
            <ng-template ngbNavContent>
                <elgin-vpc-customer-detail></elgin-vpc-customer-detail>
            </ng-template>
        </ng-container>

    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-custom" (click)="activeModal.close('Close click')">Fechar</button>
</div>