<div class="px-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <span class="title">Metas por Vendedor</span>

        <div class="action-buttons">
            <button class="btn btn-register-seller" (click)="openSignupSellerModal()">CADASTRAR VENDEDOR</button>
        </div>
    </div>

    <div class="bottom-part">
        <form>
            <div class="form-row align-items-end">
                <div class="form-group col-md-6 search">
                    <em class="fas fa-search"></em>
                    <label for="seller">Vendedor</label>
                    <input id="seller" type="text" class="form-control" [ngbTypeahead]="search"
                        [resultFormatter]="formatter">
                </div>
                <div class="form-group col-md-6">
                    <div class="action-buttons">
                        <button class="btn btn-upload">UPLOAD DE ARQUIVO</button>
                        <button class="btn btn-download">
                            DOWNLOAD MODELO EM EXECEL
                            <em class="far fa-file-excel"></em>
                        </button>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="area">Área</label>
                    <select id="area" class="custom-select">
                        <option value="">El06 - Elgin Ind. Fábrica Manaus</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="period">Período - Mês/Ano</label>
                    <div class="input-group">
                        <input class="form-control" id="period" name="d1" #c1="ngModel" [(ngModel)]="date" ngbDatepicker
                            #d1="ngbDatepicker" (input)="regex($event)" maxlength="10">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                                <em class="fas fa-calendar-alt"></em>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row align-items-end">
                <div class="form-group col-md-4">
                    <label for="desc">Descrição</label>
                    <select id="desc" class="custom-select">
                        <option value="">UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="canal">Canal</label>
                    <select id="canal" class="custom-select">
                        <option value="">Elgin</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="productGroup">Grupo de Produtos</label>
                    <select id="productGroup" class="custom-select">
                        <option value="">Ar-Condicionado</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="goal">Meta</label>
                    <input id="goal" class="form-control" type="text">
                </div>
                <div class="form-group col-md-3">
                    <label for="realized">Realizado</label>
                    <input id="realized" class="form-control" type="text">
                </div>
                <div class="form-group col-md-3">
                    <label for="percentage">Percentual</label>
                    <input id="percentage" class="form-control" type="text">
                </div>
                <div class="form-group col-md-3 text-center">
                    <button class="btn btn-add"><em class="fas fa-plus-circle mr-1"></em>Adicionar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive my-4">
        <table class="table table-bordered table-sm" aria-describedby="included products table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Imagem</th>
                    <th scope="col">Grupo de Produtos / Descrição </th>
                    <th scope="col" class="text-center">Canal</th>
                    <th scope="col" class="text-center">Vendedor</th>
                    <th scope="col" class="text-center">Meta</th>
                    <th scope="col" class="text-center">Realizado</th>
                    <th scope="col" class="text-center">Percentual</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center">
                        <img src="../../../../../assets/artefacts/splithighwall.png" alt="imagem do produto"
                            class="img-thumbnail">
                    </td>
                    <td>
                        <div class="form-group m-0">
                            <span id="group" class="d-block text-dark">Ar-condicionado</span>
                            <span id="desc" class="d-block">UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH</span>
                        </div>
                    </td>
                    <td class="text-center">Elgin</td>
                    <td class="text-center">João Carlos </td>
                    <td class="text-center">0.0100</td>
                    <td class="text-center">0.00</td>
                    <td class="text-center">0,097%</td>
                    <td class="text-center"><em class="fas fa-times-circle fa-lg"></em></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div class="text-center my-5">
        <button class="btn btn-save">GRAVAR DADOS</button>
    </div>
</div>