<div class="modal-header">
    <div class="close" (click)="activeModal.dismiss()">
        <small>fechar</small>
        <small aria-hidden="true">&times;</small>
    </div>
</div>

<div class="modal-body">
    <p>Contrato em VPC Cliente 00063960</p>

    <button class="btn btn-include float-right mb-3">ADICIONAR NOVO</button>

    <div class="table-responsive my-4">
        <table class="table table-bordered table-sm" aria-describedby="orders table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col">Raiz CNPJ<em class="fas fa-search"></em></th>
                    <th scope="col">Empresa<em class="fas fa-search"></em></th>
                    <th scope="col">Linha/Sublinha <em class="fas fa-search"></em></th>
                    <th scope="col" class="text-center">% Contrato</th>
                    <th scope="col" class="text-center">% Provisão Diretoria</th>
                    <th scope="col" class="text-center">% Provisão Comercial</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Excluir</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center">01</td>
                    <td>00063960</td>
                    <td>EL01</td>
                    <td>INFORMÁTICA (07INF)</td>
                    <td class="text-center">5,8400</td>
                    <td class="text-center">2,5</td>
                    <td class="text-center">3,500</td>
                    <td class="text-center">
                        <button class="btn"><em class="fas fa-pen"></em></button>
                    </td>
                    <td class="text-center">
                        <button class="btn"><em class="fas fa-times-circle"></em></button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">01</td>
                    <td>00063960</td>
                    <td>EL01</td>
                    <td>INFORMÁTICA (07INF)</td>
                    <td class="text-center">5,8400</td>
                    <td class="text-center">2,5</td>
                    <td class="text-center">3,500</td>
                    <td class="text-center">
                        <button class="btn"><em class="fas fa-pen"></em></button>
                    </td>
                    <td class="text-center">
                        <button class="btn"><em class="fas fa-times-circle"></em></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-custom" (click)="activeModal.close('Close click')">Fechar</button>
</div>