
<div class="modal-header">
    <div class="close" (click)="activeModal.dismiss()">
        <small>fechar</small>
        <small aria-hidden="true">&times;</small>
    </div>
</div>

<div class="modal-body">

    <div class="description">

        <div class="row">

            <div class="col-md-2 column-1">
                <span>Pedido {{orderDetail.up}}</span>
                <span><strong>Esse pedido possui {{orderDetail.nfQtd}} NF</strong></span>
            </div>

            <div class="col-md-10 column-2">
                <span class="line"></span>
                <div class="stage">

                    <span>
                        <em class="fas fa-pen-alt"></em>
                    </span>
                    <span>
                        orçamento
                        <em class="fas fa-check-circle"></em>
                    </span>
                    <span>15/03/2020</span>
                </div>
                <div class="stage">
                    <span>
                        <em class="far fa-handshake"></em>
                    </span>
                    <span>
                        comercial
                        <em class="fas fa-check-circle"></em>
                    </span>
                </div>
                <div class="stage">
                    <span>
                        <em class="fas fa-dollar-sign"></em>
                    </span>
                    <span>
                        crédito
                        <em class="fas fa-check-circle"></em>
                    </span>
                </div>
                <div class="stage">
                    <span>
                        <em class="fas fa-wallet"></em>
                    </span>
                    <span>
                        em carteira
                        <em class="fas fa-check-circle"></em>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="invoices">

        <div class="row">

            <div class="col-md-auto d-flex flex-wrap justify-content-between justify-content-md-start align-items-end">
                <div class="form-group m-0">
                    <label for="invoices">N&ordm; Nota Fiscal</label>
                    <select class="custom-select form-control-sm" id="invoices">
                        <option *ngFor="let item of orderDetail.pedido">{{item.notaFiscal}}</option>
                    </select>
                </div>

                <button class="btn btn-custom">danfe</button>
                <button class="btn btn-custom">xml</button>
            </div>

            <div
                class="col-md-auto ml-md-auto d-flex align-items-end justify-content-between justify-content-md-start mt-md-0 mt-3">
                <button class="btn btn-previous">
                    <em class="fas fa-chevron-left"></em>
                    NF Anterior
                </button>
                <button class="btn btn-next">
                    Ir para próxima NF
                    <em class="fas fa-chevron-right"></em>
                </button>
            </div>

            <div class="col-12 my-3">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm" aria-describedby="orders table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Data do<br>Pedido</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Representante/Área</th>
                                <th scope="col" class="text-center">Área Requisitante</th>
                                <th scope="col" class="text-center">Total Geral</th>
                                <th scope="col" class="text-center">Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="text-center">{{orderDetail?.data}}</td>
                                <td>
                                    <span class="d-block client-td">{{orderDetail?.cliente}}</span>
                                    <span class="d-block">{{orderDetail?.cnpj}}</span>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-column">
                                            <span class="text-muted">Representante:</span>
                                            <span>{{orderDetail?.representate}}</span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <span class="text-muted">Área:</span>
                                            <span>{{orderDetail?.area}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">{{orderDetail?.canal}}</td>
                                <td class="text-center">{{ orderDetail?.valor | currency:'BRL' }}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center">
                                        <span [ngClass]="{
                                        'ft' : orderDetail?.pedido[0]?.status === 'faturado', 
                                        'ent' : orderDetail?.pedido[0]?.status === 'entregue', 
                                        'ftp' : orderDetail?.pedido[0]?.status === 'faturado parcela', 
                                        'rsc' : orderDetail?.pedido[0]?.status === 'rascunho', 
                                        'orc' : orderDetail?.pedido[0]?.status === 'orçamento', 
                                        'crt' : orderDetail?.pedido[0]?.status === 'em carteira', 
                                        'exc' : orderDetail?.pedido[0]?.status === 'excluído',
                                        'rep' : orderDetail?.pedido[0]?.status === 'reprovado',
                                        'anl' : orderDetail?.pedido[0]?.status === 'em análise' }">
                                            {{ orderDetail?.pedido[0]?.status }}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-12">

                <div class="row">
                    <div class="col-md-auto mb-3 mb-md-0">
                        <span class="historic-text">Histórico Fases de remessa</span>
                    </div>
                    <div class="col-md-auto historic flex-column flex-md-row">
                        <span class="line d-none d-md-block"></span>
                        <div class="stage">
                            <span><em class="fas fa-boxes"></em></span>
                            <span>Em Separação</span>
                            <span>15/03/2020</span>
                            <span>11:45</span>
                        </div>
                        <div class="stage">
                            <span><em class="fas fa-cart-arrow-down"></em></span>
                            <span>Estoque Baixado</span>
                            <span>15/03/2020</span>
                            <span>12:47</span>
                        </div>
                        <div class="stage">
                            <span><em class="fas fa-dollar-sign"></em></span>
                            <span>Faturado</span>
                            <span>16/03/2020</span>
                            <span>8:45</span>
                        </div>
                        <div class="stage">
                            <span><em class="fas fa-truck"></em></span>
                            <span>Entrega em Andamento</span>
                            <span>17/03/2020</span>
                            <span>8:45</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="client mb-md-0 mb-3">
        <div class="chosen-client">
            {{orderDetail.representate}} - Fabrica Mogi - SP
        </div>

        <div class="bottom-line"></div>

        <div class="table-responsive">
            <table class="table table-borderless table-sm" aria-describedby="client table">
                <thead>
                    <tr>
                        <th scope="col">Total Geral</th>
                        <th scope="col">Total Itens</th>
                        <th scope="col">Total IPI</th>
                        <th scope="col">Total ICMS</th>
                        <th scope="col">Total ICMS ST</th>
                        <th scope="col">Total Frete</th>
                        <th scope="col">Total Desconto</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>R$ 4,40</td>
                        <td>R$ 4,000.00</td>
                        <td>R$ 0,40</td>
                        <td>R$ 0,31</td>
                        <td>R$ 0,00</td>
                        <td>R$ 0,00</td>
                        <td>- R$ 3,999.08</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="navigation">
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-md-start justify-content-center">

            <li [ngbNavItem]="1">
                <a ngbNavLink>Geral</a>
                <ng-template ngbNavContent>
                    <p class="filter-label">Informações Financeiras e Fiscais</p>

                    <div class="d-flex flex-wrap">
                        <div class="col-md-8">
                            <div class="d-flex align-items-center flex-wrap inferior-line">

                                <div class="col-md-2">
                                    <span class="segment">Pagamento</span>
                                </div>

                                <div class="col-md-10">
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="dataBase">Data Base:</label>
                                            <input type="text" class="form-control" id="dataBase" value="23/02/2020"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="cond">Condições de pagamento:</label>
                                            <input type="text" class="form-control" id="cond" value="E001 - a Vista"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="paymentMethod">Forma de pagamento:</label>
                                            <input type="text" class="form-control" id="paymentMethod"
                                                value="Cartão de Crédito 12x" disabled>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="d-flex flex-wrap">

                                <div class="col-md-2">
                                    <span class="segment">Faturamento</span>
                                </div>

                                <div class="col-md-10">
                                    <div class="segment-info">
                                        <div class="form-row">
                                            <div class="form-group col-md-2">
                                                <label>Data:</label>
                                                <small>23/02/2020</small>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Natureza de Operação:</label>
                                                <small>9 - VENDA USO CONSUMO</small>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Escritório:</label>
                                                <small>E001 - Geral</small>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Código Suframa:</label>
                                                <small>200148940</small>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-2">
                                                <label>Exige Nota:</label>
                                                <small>Não</small>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Inscrição Estadual:</label>
                                                <small>94216546551</small>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Código Cliente:</label>
                                                <small>53781949994949</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 my-2 my-md-0">
                            <div class="invoice-img ml-md-auto">
                                <div class="invoice-img-header">
                                    <em class="fas fa-print mr-1"></em>
                                    <a href="javascript:void(0)"><u>Imprimir resumo do pedido</u></a>
                                    <em class="fas fa-search-plus ml-auto"></em>
                                </div>
                                <div class="invoice-img-body">
                                    <ng-image-slider [images]="imageObject" #nav #zoom></ng-image-slider>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 last">
                            <div class="row">
                                <div class="col-md-3 my-2 my-md-0">
                                    <div class="charge-address">
                                        <div class="charge-payment-head">Endereço de Cobrança</div>
                                        <div class="charge-payment-body">
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="CEP">CEP:</label>
                                                    <span id="CEP" class="d-block">69075-010</span>
                                                </div>
                                                <div class="form-group col-12">
                                                    <label for="address">Logradouro:</label>
                                                    <span id="address" class="d-block">AV ABIURANA, 579</span>
                                                </div>
                                                <div class="form-group col-12">
                                                    <label for="neighborhood">Bairro:</label>
                                                    <span id="neighborhood" class="d-block">Distrito Industrial</span>
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="CEP">Cidade</label>
                                                    <span class="d-block">MANAUS</span>
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="CEP">UF:</label>
                                                    <span class="d-block">AM</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 my-2 my-md-0">
                                    <span>Dados Complementares</span>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="textArea">Observações NF:</label>
                                            <textarea class="form-control" id="textArea" rows="3"></textarea>
                                        </div>
                                        <div class="form-group col-12">
                                            <label class="mb-2 d-block text-center text-md-left">Adicionar
                                                Comentários</label>
                                            <div
                                                class="d-flex flex-wrap justify-content-md-between justify-content-center ">
                                                <button class="btn btn-comment mb-md-0 mb-2">
                                                    <em class="fas fa-plus mr-1"></em>
                                                    Comentário de Crédito
                                                </button>
                                                <button class="btn btn-comment mb-md-0 mb-2">
                                                    <em class="fas fa-plus mr-1"></em>
                                                    Comentário Comercial
                                                </button>
                                                <button class="btn btn-comment mb-md-0 mb-2">
                                                    <em class="fas fa-plus mr-1"></em>
                                                    Comentário de Expedição
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>

            <li [ngbNavItem]="2">
                <a ngbNavLink>Logística</a>
                <ng-template ngbNavContent>
                    <p class="filter-label">Informações Logísticas</p>

                    <div class="row logistics">
                        <div class="col-md-9">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="transporter">Transportadora</label>
                                    <span id="transporter" class="d-block">ALIANCA NAVEGACAO E LOG.LTDA.
                                        (02.427.026/0012-07)</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="freightType">Transportadora</label>
                                    <span id="freightType" class="d-block">Entrega</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="freightCalculation">Cálculo do Frete:</label>
                                    <input type="text" id="freightCalculation" class="form-control form-control-sm"
                                        disabled value="R$ 80,00">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="scheduled" class="mr-1">Agendamento:</label>
                                    <span id="scheduled">Não</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="costLessFreight" class="mr-1">Frete Reduzido:</label>
                                    <span id="costLessFreight">Não</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="palletized" class="mr-1">Paletizado:</label>
                                    <span id="palletized">Não</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="freightDate" class="mr-1">Prazo de Entrega:</label>
                                    <span id="freightDate">Não</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="delivery-date">
                                <span class="title">Prazo de Entrega</span>

                                <span>2 dias úteis</span>
                                <span>(Somente após a emissão da NF)</span>
                            </div>
                        </div>
                    </div>

                    <div class="row delivery-address-container">
                        <div class="col-md-12">
                            <span class="title">Endereço de Entrega</span>
                        </div>

                        <div class="col-md-3">
                            <div class="delivery-address">
                                <div class="charge-payment-head">
                                    <span class="title">Depósito</span>
                                    <span class="sub-title">Endereço Principal</span>
                                </div>
                                <div class="charge-payment-body">
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="CEP">CEP:</label>
                                            <span id="CEP" class="d-block">69075-010</span>
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="address">Logradouro:</label>
                                            <span id="address" class="d-block">AV ABIURANA, 579</span>
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="neighborhood">Bairro:</label>
                                            <span id="neighborhood" class="d-block">Distrito Industrial</span>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="CEP">Cidade</label>
                                            <span class="d-block">MANAUS</span>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="CEP">UF:</label>
                                            <span class="d-block">AM</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>

            <li [ngbNavItem]="3">
                <a ngbNavLink>Produtos</a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-12">
                            <div class="products">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm" aria-describedby="client table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Descrição/Cód. Elgin</th>
                                                <th scope="col">Cálc. Unitário</th>
                                                <th scope="col">Qtd.</th>
                                                <th scope="col">Frete</th>
                                                <th scope="col">Cód. Cliente</th>
                                                <th scope="col">Descontos/Impostos</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="item">
                                                        <img src="../../../../../assets/artefacts/Group76.jpg"
                                                            alt="representação do item" class="img-thumbnail mr-md-2 m-0">
                                                        <div class="desc">
                                                            <label for="elginCod" class="mb-0">Cód. Elgin</label>
                                                            <span id="elginCod"
                                                                class="mb-1 text-black-50">REF160002022700</span>
                                                            <span id="item-model">
                                                                UN.EXT.HW INVERTER TREND,18K,QF, 220V,1PH
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>R$ 0,0001</td>
                                                <td>50</td>
                                                <td>R$ 0,00</td>
                                                <td>026545454</td>
                                                <td>
                                                    <div class="form-row taxes">
                                                        <div class="form-group col-md-4">
                                                            <label for="discount">% Desconto</label>
                                                            <span id="discount">99.900,0000%</span>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="unitDiscount">Desconto Unitário</label>
                                                            <span id="unitDiscount">-R$ 0,0999</span>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="unitWithDiscount">Unitário Com Desconto</label>
                                                            <span id="unitWithDiscount">R$ 0,1000</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="ipi">IPI</label>
                                                            <span id="ipi">0,00%</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="icms">ICMS</label>
                                                            <span id="icms">0,099%</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="descIcms">Desc. ICMS</label>
                                                            <span id="descIcms">7,00%</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="descIcms">ICMS ST</label>
                                                            <span id="icmsSt">0,00%</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="totalTax">Total c/ Impostos</label>
                                                            <span id="totalTax">R$ 101465,00</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="with">% com</label>
                                                            <span id="with">R$ 0,00</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-close" (click)="activeModal.close()">fechar</button>
</div>