@media screen and (max-width: 425px) {
    label {
        font-size: 0.8rem !important;
        margin-bottom: 0.25rem !important;
    }
}

label {
    color: #6c757d !important;
    font-size: 0.7rem;
    margin-bottom: 0px;
}

a {
    font-size: var(--sub-text);
}

input,
select {
    border-radius: 6px;
    font-size: var(--default-text);
    color: var(--primary);
}

.btn.calendar {
    font-size: var(--sub-text) !important;
    border-color: #ced4da;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;

    &:hover {
        background-color: transparent;
    }

    em {
        color: #c7c7c7;
    }
}

.title {
    color: var(--title);
}

.sub-title {
    font-size: var(--default-text);
    color: var(--title);
}

@media screen and (max-width: 425px) {

    .btn-export,
    .btn-filter {
        width: 100%;
        margin: 0.75rem 0rem !important;
    }
}

.btn-export {
    font-size: var(--sub-text);
    color: #4DBF69;
    border: 1px solid;
    border-radius: 32px;

    em {
        font-size: var(--default-text);
    }
}

.btn-filter {
    width: 100%;
    background-color: var(--primary);
    font-size: var(--sub-text);
    color: #ffffff;
    border-radius: 32px;
}

.btn-custom {
    width: 100%;
    font-size: var(--sub-text);
    color: var(--blue);
    border: 1px solid;
    border-radius: 32px;
}

.card-representative {
    background-color: #F8F8F8;
}

.effective-commission-card {
    cursor: pointer;
}

.approved {
    @media screen and (min-width: 320px) and (max-width: 425px) {
        .content {
            flex-wrap: wrap;

            .state {
                width: 50%;
                margin: 15px 0;
            }

            img {
                display: none;
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1377px) {
        .content {
            flex-wrap: wrap;

            .state {
                width: 50%;
                margin: 15px 0;
            }

            img {
                display: none;
            }
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 20px 0;

        .state {
            text-align: center;
            line-height: 8px;


            em {
                font-size: 25px;
                color: #C4C4C4;
            }

            span {
                display: block;
                margin-top: 10px;
                font-size: var(--sub-text);
                text-transform: capitalize;
            }

            .value {
                color: var(--primary);
            }
        }

        .state.avaliable {

            em,
            .status {
                color: #4DBF69;
            }
        }

        .state.approval {

            em,
            .status {
                color: #EF7F00;
            }
        }

        .state.overdue {

            em,
            .status {
                color: #d9534f;
            }
        }

        .state.new {

            em,
            .status {
                color: #0063AF;
            }
        }

        img {
            margin-top: -25px;
        }
    }
}

.search.form-group {
    position: relative;

    .fa-search {
        position: absolute;
        top: 6px;
        left: 13px;
        padding: 5px;
        background: var(--title);
        color: #fff;
        border-radius: 50%;
        font-size: var(--default-text);
    }

    .form-control {
        padding-left: 40px;
    }
}